.black{
    background-color: $black;
}
.white{
    color: $white;
}
.red{
    color: $red;
}
.grey-theme{
    background-color: $grey-theme;
}
.bg-white{
    background-color: $white;
}
.bg-light-grey{
    background-color: $light-grey;
}
.bg-blue-theme{
    background-color: $blue-theme;
}
.bg-active{
    background-color:  $blue-theme;
}
.transparent{
    background-color: transparent;
}
.light-blue{
    background-color: $light-blue;
}
.min-height-smilar-pages-card{
    min-height:240px;
    }   