.facebook-bg-color{
 background-color: $bg-facebook;
}
.linkedin-bg-color{
    background-color: $bg-linkedin;
}
.twitter-bg-color{
    background-color: $bg-twitter;
}
.whatsapp-bg-color{
    background-color: $bg-whatsapp;
}
.instagram-bg-color{
    background-color: $bg-instagram;
}
.pinterest-bg-color{
    background-color: $bg-pinterest;
}
.reddit-bg-color{
    background-color: $bg-reddit;
}
.black{
    background-color: $black;
}
.grey-theme{
    background-color: $grey-theme;
}
.bg-white{
    background-color: $white;
}
.bg-light-grey{
    background-color: $light-grey;
}
.bg-blue-theme{
    background-color: $blue-theme;
}
.bg-active{
    background-color:  $blue-theme;
}
.transparent{
    background-color: transparent;
}
.bg-light-blue{
    background-color: $bg-light-blue;
}
.bg-light-black{
    background-color: $bg-light-black;
}
.bg-light-gray{
    background-color: $bg-light-gray;
}
.min-height-smilar-pages-card{
    min-height:240px;
    }   