.border-radius-20{
    border-radius: 20px !important;
}
.border-radius-30{
    border-radius: 30px !important;
}
.border-radius-40{
    border-radius: 40px !important;
}
.border-radius-50{
    border-radius: 50px !important;
}