
.border-radius-5{
    border-radius: 5px;
}
.border-radius-12{
    border-radius: 12px !important;
}
.border-radius-20{
    border-radius: 20px !important;
}
.border-radius-30{
    border-radius: 30px !important;
}
.border-radius-40{
    border-radius: 40px !important;
}
.border-radius-50{
    border-radius: 50px !important;
}
.border-1{
    border: 1px solid #DCDCDC;
}
.border-bottom{
    border-bottom: 1px solid #d4f7ff;
}
.border-top{
  border-top: 1px dotted #d4f7ff !important;  
}
.border-8{
    border: 8px solid #ffffff !important;
}
.border-6{
    border: 6px solid #405FBD !important;
}
.border-none{
    border: none !important;
}
.border-dark-black{
  border: 1px solid #404b57 !important;
}
.border-right-gray{
    border-right: 1px solid $border-gray;
}
.border-right-black{
    border-right: 1px solid $black;
}
.border-color{
    border-color: $blue-theme;
}
.border-top-blue{
    border-top: 5px solid #405FBD !important;
}
.circle-icon{
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.rounded-bottom-0{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.rounded-top-0{
    border-top-right-radius: 0 !important;
    border-top-left-radius: 0 !important;
}