.blue-font{
    color: $blue;
}
.black-font{
    color: $black;
}
.blue-theme{
    color: $blue-theme;
}
.font-size-15{
    font-size: 15px !important;
}
.font-size-20{
    font-size: 20px !important;
}
.font-size-25{
    font-size: 25px !important;
}
.font-size-30{
    font-size: 30px !important;
}
.font-size-35{
    font-size: 35px !important;
}
.font-size-40{
    font-size: 40px !important;
}