.text-center{
    text-align: center;
}
.padding-10{
    padding: 10px !important;
}
.left-0{
    left: 0 !important;
}
.top-0{
    top: 0 !important;
}
.right-0{
    right: 0 !important;
}
.bottom-0{
    bottom: 0 !important;
}
.float-left{
    float: left !important;
}
.float-right{
    float: right !important;
}
.pt-10,
.py-10 {
  padding-top: 9rem !important;
}

.pr-10,
.px-10 {
  padding-right: 9rem !important;
}

.pb-10,
.py-10 {
  padding-bottom: 9rem !important;
}

.pl-10,
.px-10 {
  padding-left: 9rem !important;
}
.padding-bot{
  padding-bottom: 3rem !important;

}

.pl-5,
.px-5 {
  padding-left: 5rem !important;
}
.pr-5,
.px-5 {
  padding-right: 5rem !important;
}

.pl-6,
.px-6 {
  padding-left: 6rem !important;
}
.pr-6,
.px-6 {
  padding-right: 6rem !important;
}

.mt-10{
    margin-top: 9rem !important;
}
.mt-6{
    margin-top: 6rem !important;
}
.pt-9,
.py-9 {
  padding-top: 8rem !important;
}
        //------------------------------------ Padding Top -------------------------//
.padding-top-10{
    padding-top: 10px !important;
}
.padding-top-20{
    padding-top: 20px !important;
}
.padding-top-30{
    padding-top: 30px !important;
}
.padding-top-40{
    padding-top: 40px !important;
}
.padding-top-50{
    padding-top: 50px !important;
}

        //------------------------------------ Padding Bottom -----------------------------//
.padding-bottom-10{
    padding-bottom: 10px !important;
}
.padding-bottom-20{
    padding-bottom: 20px !important;
}
.padding-bottom-30{
    padding-bottom: 30px !important;
}
.padding-bottom-40{
    padding-bottom: 40px !important;
}
.padding-bottom-50{
    padding-bottom: 50px !important;
}

        //------------------------------------ Padding Left ----------------------------- //
.padding-left-10{
    padding-left: 10px !important;
}
.padding-left-20{
    padding-left: 20px !important;
}
.padding-left-30{
    padding-left: 30px !important;
}
.padding-left-40{
    padding-left: 40px !important;
}
.padding-left-50{
    padding-left: 50px !important;
}
.padding-left-500{
    padding-left: 500px !important;
}

    //------------------------------------ Padding Right ----------------------------- //
.padding-right-10{
    padding-left: 10px !important;
}
.padding-right-20{
    padding-right: 20px !important;
}
.padding-right-30{
    padding-right: 30px !important;
}
.padding-right-40{
    padding-right: 40px !important;
}
.padding-right-50{
    padding-right: 50px !important;
}

    //-----------------------------------   Margin  ------------------------------------------//

.margin-top-40{
    margin-top: 40px !important;
}