.custom-rounded-circle{
    border-radius: 50px !important;
}
.highlight {
  background-color: yellow;
  color: black;
}

.img-nav-pagination{
    height: 28px;
}
.fafa-nav-active{
    font-size:35px;
    color:#007bff;
}

.fafa-nav-in-active{
    font-size:35px;
}
