$blue-theme: #5331be !important; //  #405FBD (used earlier)
$grey-theme: #2F2F2F !important;
$light-grey: #f5f8fd !important;
$black: black !important;
$white: white !important;
$blue: blue !important;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 576px;
// $text-black: black !important;