$blue-theme: #405FBD !important; //  #405FBD (used earlier)
$grey-theme: #2F2F2F !important;
$light-grey: #f5f8fd !important;
$black: black !important;
$white: white !important;
$blue: blue !important;
$red: red !important;
$bg-light-blue: #c9eff0 !important;
$light-black: #e8e5e5 !important;
$bg-light-gray: #eee;
$breakpoint-mob: 320px;
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 992px;
// $text-black: black !important;