.width-25{
    width:$width-25;
}
.width-40px{
    width: $width-40;
}
.width-50px{
	width:$width-50 !important;
}
.width-80px{
    width: $width-80;
}
.width-82{
	width: $width-82;
}
.width-100{
    width: $width-100;
}
.width-200{
    width: $width-200;
}
.width-452{
    width: $width-452;
}

