.width-82{
	width: 82.6%;
}

.width-50px{
	width:50px !important;
}
footer {
	width: 100%;
	float: left;
	padding: 30px 0;
	background:#2f2f2f
}
.footer_detail {
    width: 20%;
}

	.footer-main {

	}
	.footer-main .footer_detail {
		margin-bottom: 40px;
		float: none;
		min-height: 100%;
		width: 100%
		footer-main
	}

	.footer-heading a {
		font-size: 12px
	}
	.footer-heading {
		height: auto
	}
	.page-last {
		text-align: center
}
.last {
	border: none !important;
}
.footer-heading a {
	color: white;
	font-weight: 400;
	line-height: 16px;
	font-size: 12px
}
.footer-heading {
	border-right: 1px solid #d8d8d8;
	height: 200px
}
.footer-heading a:hover {
	color: #405fbd!important;
	text-decoration: none
}
.footer-heading a:focus {
	color: #f37714;
	text-decoration: none
}
.footer_detail {
	width: 20%
}
.footer-heading ul {
	list-style-type: none;
	padding-left: 0
}
footer.bg_gray {
	background-size: cover;
	padding-bottom:15px !important;
}
.bg_gray h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    color: white;
    display: block;
    margin-bottom: 25px;
    font-weight: 200;
    margin-top: 0;
}
.page-last {
	display: table;
	margin: auto;
	padding:0 0 5px 0;
	width: 100%;
		background:#2f2f2f

}
.subscribe_text p {
	color: white;
	font-size: 15px
}
.subscribe_text {
	margin-top: 6px;
	margin-bottom: 0;
	padding:0;
}
p.develop_text {
	font-size: 12px;
	margin: 0 5px 5px;
	color:white
}
p.develop_text i {
	color: #f27007;
	padding:10px
}
.social_icon {
	float: right
}
.social_icon ul.list-inline {
	display: table;
	margin: 0 auto 8px auto
}
.social_icon li {
	list-style: none;
	padding: 0;
	margin: 0 5px
}
.page-last .social_icon li {
	display: inline-block
}
.social_icon li a {
	list-style: none;
	padding: 0;
	margin: 0;
	background: url(../images/social_icons.png) no-repeat;
	width: 30px;
	height: 30px;
	display: inline-block
}
.social_icon li a.facebook {
	background-position: -14px -88px
}
.social_icon li a.twitter {
	background-position: -164px -87px
}
.social_icon li a.gplus {
	background-position: -87px -87px
}
.social_icon li a.iconlinkedin {
	background-position: -115px -2776px
}
.social_icon li a.iconpinterest {
	background-position: -188px -2776px
}
.social_icon li a.iconinstagram {
	background-position: -265px -2776px
}
.social_icon li a.iconyoutube {
	background-position: -343px -2776px
}
.social_icon li a.iconlinkedin:hover {
	background-position: -115px -2841px
}
.social_icon li a.iconpinterest:hover {
	background-position: -188px -2841px
}
.social_icon li a.iconinstagram:hover {
	background-position: -265px -2841px
}
.social_icon li a.iconyoutube:hover {
	background-position: -343px -2841px
}
.social_icon li a.facebook:hover {
	background-position: -14px -145px
}
.social_icon li a.twitter:hover {
	background-position: -164px -144px
}
.social_icon li a.gplus:hover {
	background-position: -87px -144px
}
@media only screen and (max-width: 1024px) {

	footer.bg_gray h3 {
		font-size: 18px !important;
		color:white
	}
	footer.bg_gray ul li a {
		font-size: 12px
	}
	.footer_detail:first-child {
		padding-left: 0
	}
}
@media only screen and (max-width: 800px) {
	.formdesign .social_btn {
		padding: 0
	}
}
@media only screen and (max-width: 736px) {

	.social_links a span.signup_padding {
		display: none!important
	}
	footer {
		float: none;
		padding: 10px 0 0 0
	}

}

@media only screen and (max-width: 416px) {


	.footer-main {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
		column-gap: 5%;
		margin-bottom: 0px;
		flex-wrap: unset;
		display: block;
		margin-right: 0;
		margin-left: 0
	}
	.footer-main .footer_detail {
		margin-bottom: 40px;
		float: none;
		min-height: 100%;
		width: 100%;
		border: none !important
	}
	.footer-main .footer_detail:nth-child(3) {
		bottom: 0
	}
	.footer-heading a {
		font-size: 12px
	}
	.footer-heading {
		height: auto;
		border: none !important;
	}
	.page-last {
		text-align: center
	}
	.social_icon {
		float: none
	}
	.footer_detail:first-child {
		padding-left: 20px
	}

}
@media only screen and (max-width: 385px) {
	.footer-main .footer_detail:nth-child(3) {
		bottom: 0
	}
}
