{% extends "desklib/base.html" %}
{% load staticfiles %}
{% block content %}

<section class="pt-5 pb-5">
	<div class="container">
		<div class="row ">
			<div class="col-md-8">
				<div class="row">
					
					<div class="col-md-6">
						
						<h4 class="d-inline pr-3">Reviews</h4>
						<h4 class="d-inline text-muted">{{review_count}}</h4>
					</div>
					{% comment %}
					<div class="col-md-6 text-center">
						<a href="" class="btn blue-theme">Write Review</a>
					</div>
					{% endcomment %}
				</div>
				<hr>
				<div class="row">
					<div class="col-md-12">
						<div class="mt-3 mb-3">
							<span class="" data-star="{{review_avg.stars__avg}}"></span>
							{% comment %}
							<span class="fa fa-star checked text-success"></span>
							<span class="fa fa-star checked text-success"></span>
							{% endcomment %}
						</div>
			</div>
			</div>
			<!-- <hr> -->
			<div class="row pt-3 pb-3">
				<div class="col-md-12">
					<div class="row">
						<div class="col-sm-2 col-md-1">
							<a href="" class="text-decoration-none">
								<span class="blue-theme">{{review_5_stars_count}}&nbspstar</span>

							</a>
						</div>
						<div class="col-md-8">
						<a href="" class="text-decoration-none">
							<div class="progress">
  							<div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						</a>
					</div>
					<div class="col-sm-1">
						<span class="text-muted">58%</span>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2 col-md-1">
						<a href="" class="text-decoration-none">
						<span class="blue-theme">  {{review_4_stars_count}}&nbspstar</span>
						</a>
					</div>
					<div class="col-md-8">
						<a href="" class="text-decoration-none">
							<div class="progress">
  							<div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						</a>
					</div>
					<div class="col-sm-1">
						<span class="text-muted">20%</span>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-2 col-md-1">
							<a href="" class="text-decoration-none">
								<span class="blue-theme">{{review_3_stars_count}}&nbspstar</span>
							</a>
						</div>
						<div class="col-md-8">
						<a href="" class="text-decoration-none">
							<div class="progress">
  							<div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						</a>
					</div>
					<div class="col-sm-1">
						<span class="text-muted">5%</span>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-2 col-md-1">
							<a href="" class="text-decoration-none">
								<span class="blue-theme">{{ review_2_stars_count}}&nbspstar</span>
							</a>
						</div>
						<div class="col-md-8">
						<a href="">
							<div class="progress">
  							<div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						</a>
					</div>
					<div class="col-sm-1">
						<span class="text-muted">10%</span>
					</div>
				</div>
				<div class="row">
						<div class="col-sm-2 col-md-1">
							<a href="" class="text-decoration-none">
								<span class="blue-theme">{{review_1_stars_count}}&nbspstar</span>
							</a>
						</div>
						<div class="col-md-8">
						<a href="">
							<div class="progress">
  							<div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						</a>
					</div>
					<div class="col-sm-1">
						<span class="text-muted">5%</span>
					</div>
				</div>
				</div>
			</div>
			<hr>
			{% for list in all_reviews %}
			<div class="row mt-3">
				<div class="col-md-9">
					<a href="" class="text-decoration-none">
					<img src="{% static 'dist/assets/images/avatar.png' %}" class="img-fluid width-50px h-auto">
					<span class="text-muted">&nbsp; &nbsp;{{list.name}}</span>
					</a>
					<a href="" class="black-font"><h5 class="pt-4">{{list.title}}</h5></a>
					<p>{{list.description}}
					</p> 
					
					{% comment %}
					 {{list.stars}}
 					{% endcomment %}
					
					<span class="stars" data-rating="{{list.stars}}">
					</span>
				</div>
				<div class="col-md-3">
					<span class="text-muted">{{list.created_at|date:"d M Y"}}</span>

				</div>
			</div>
			{% endfor %}
			<!-- <hr> -->
		</div>
			<div class="col-md-4">
				<h5>Desklib</h5>
				<p>Desklib is an online learning library where students can find solutions to assignments, essays, dissertations, case studies, research reports, reflection writing and a lot more. </p>
				<p><a href="" class="btn blue-theme">Desklib</a></p>
				<hr>
				<h5>Desklib</h5>
				<p>Desklib is an online learning library where students can find solutions to assignments, essays, dissertations, case studies, research reports, reflection writing and a lot more. </p>
				<hr>
				<h5>Contact</h5>
				<p>A2ZSERVICES PTE LTD<br>
					68 CIRCULAR ROAD<br>
					#02-01 SINGAPORE (049422)</p>
			</div>
		</div>
	</div>
</section>
{% comment %}
review page

{{object_list}}

{{review_count}}

{{review_avg.stars__avg}}

{% endcomment %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$("[data-rating]").each(function(){
	  var rat = $(this).data('rating');
		for( var i=1; i<=rat; i++){
	      $(this).append("<i class='fa fa-star text-warning'></span>");
}
}); 
$("[data-star]").each(function(){
	  var rat = $(this).data('star');
		for( var j=1; j<=rat; j++){
	      $(this).append("<i class='fa fa-star text-success font-size-35'></span>");
}
}); 
</script>

{% endblock %}
