{% extends "desklib/base.html" %}
{% load staticfiles %}


{% block json_ld %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "image": [
    "https://desklib.com/assets/img/desklib_logo.png"
   ],
  "@id": "https://desklib.com/",
  "name": "Desklib- Homework help, online learning library",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "68 Circular Rd",
    "addressLocality": "Singapore",
    "addressRegion": "Downtown",
    "postalCode": "049422",
    "addressCountry": "Singapore"
  },
  "priceRange": "$25 - $250",
  "review": [{% for list in top_review %}
  {
    "@type": "Review",
    "reviewRating": {
      "@type": "Rating",
      "ratingValue": "{{list.stars}}",
      "bestRating": "5"
    },
    "author": {
      "@type": "Person",
      "name": "{{list.name}}"
    }
  }{% if not forloop.last %},{% endif %}{% endfor %}
  ],
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "{{review_avg.stars__avg}}",
    "reviewCount": "{{review_count}}"
  },
  "url": "https://desklib.com/",
  "telephone": "+44-7482880720"
}
</script>

{% endblock %}


{% block content %}
<section class="pt-5 pb-5">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-sm-7 col-md-8">
                        <h5 class="d-inline pr-3 blue-theme">Reviews</h5>
                        <h5 class="d-inline blue-theme">{{review_count}}</h5>
                       
                    </div>
                    <div class="col-sm-5 col-md-4">
                         <span class="" data-star="{{review_avg.stars__avg}}"></span>
                    </div>
                    {% comment %}
                    <div class="col-md-3 text-center">
                        <a href="" class="btn blue-theme">Write Review</a>
                    </div>
                    {% endcomment %}
                </div>
                <hr>
              
                <div class="row pt-3 pb-3">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <a href="" class="text-decoration-none">
                                    <span class="blue-theme">{{review_5_stars_count}}&nbsp;stars</span>

                                </a>
                            </div>
                            <div class="col-sm-8 col-md-10">
                                <a href="" class="text-decoration-none">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-2 col-md-1">
                                <span class="blue-theme">58%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <a href="" class="text-decoration-none">
                                    <span class="blue-theme">  {{review_4_stars_count}}&nbsp;stars</span>
                                </a>
                            </div>
                            <div class="col-sm-8 col-md-10">
                                <a href="" class="text-decoration-none">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 30%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <span class="blue-theme">41%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <a href="" class="text-decoration-none">
                                    <span class="blue-theme">{{review_3_stars_count}}&nbsp;stars</span>
                                </a>
                            </div>
                            <div class="col-sm-8 col-md-10">
                                <a href="" class="text-decoration-none">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <span class="blue-theme">5%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <a href="" class="text-decoration-none">
                                    <span class="blue-theme">{{ review_2_stars_count}}&nbsp;stars</span>
                                </a>
                            </div>
                            <div class="col-sm-8 col-md-10">
                                <a href="">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 10%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <span class="blue-theme">10%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-md-1">
                                <a href="" class="text-decoration-none">
                                    <span class="blue-theme">{{review_1_stars_count}}&nbsp;stars</span>
                                </a>
                            </div>
                            <div class="col-sm-8 col-md-10">
                                <a href="">
                                    <div class="progress">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 5%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-1">
                                <span class="blue-theme">5%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <hr> -->
                {% for list in all_reviews %}
                <div class="card mb-4 mt-4">
                	<div class="card-body">
                <div class="row mt-2">
                	
                    <div class="col-sm-9 col-md-9">
                        <a href="" class="text-decoration-none">
                            <img src="{% static 'dist/assets/images/avatar.png' %}" class="img-fluid width-50px h-auto">
                            <span class="text-muted">&nbsp; &nbsp;{{list.name}}</span>
                        </a>
                            <span class="stars d-block mt-n3 padding-left-60" data-rating="{{list.stars}}">
                            </span>
                        <a href="" class="black-font"><h6 class="pt-3">{{list.title}}</h6></a>
                        <p class="m-0">{{list.description}}
                        </p>                      
                        {% comment %} {{list.stars}} {% endcomment %}
                    </div>
                    <div class="col-sm-3 col-md-3">
                    	<p class="text-muted text-sm-right">{{list.created_at|date:"d M Y"}}</p>
                       
                    </div>
               </div>
            </div>
        </div>
                {% endfor %}
            </div>
            <div class="col-lg-4 p-5 bg-light h-100">
                <h4>Desklib</h4>
                <p>Desklib is an online learning library where students can find solutions to assignments, essays, dissertations, case studies, research reports, reflection writing and a lot more. </p>
                <a href="" class="blue-theme">Desklib</a>
                <hr>
                <h4>Desklib</h4>
                <p>Desklib is an online learning library where students can find solutions to assignments, essays, dissertations, case studies, research reports, reflection writing and a lot more. </p>
                <hr>
                <h4>Contact</h4>
                <p>A2ZSERVICES PTE LTD
                    <br> 68 CIRCULAR ROAD
                    <br> #02-01 SINGAPORE (049422)</p> 
            </div>
        </div>
    </div>
</section>

{% comment %}
review page

{{object_list}}

{{review_count}}

{{review_avg.stars__avg}}

{% endcomment %}

{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$("[data-rating]").each(function(){
	  var rat = $(this).data('rating');
		for( var i=1; i<=rat; i++){
	      $(this).append("<i class='fa fa-star text-warning font-size-15'></i>");
}
  for( var j=1; j<=5-rat; j++){
          $(this).append("<i class='fa fa-star font-size-15'></i>");
}   
}); 
$("[data-star]").each(function(){
	  var rating = $(this).data('star');
       var rates = Math.round(rating);
		for( var k=1; k<=rates; k++){
	      $(this).append("<i class='fa fa-star blue-theme font-size-20'></i>");
}
        for( var l=1; l<=5-rates; l++){
          $(this).append("<i class='fa fa-star font-size-20'></i>");
}   
}); 
</script>

{% endblock %}
