{% extends "desklib/base.html" %}
{% load staticfiles %}
{% load meta %}

{% block content %}
<div class="pg_tutorplans">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-transparent mb-0">
                            <li class="breadcrumb-item"> <a href="/" class="text-muted"> Home </a> </li>
                            <li class="breadcrumb-item"> <a href="{% url 'tutors:tutor' %}" class="text-muted"> Tutor </a> </li>
                            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page"> <a href="{% url 'tutors:tutor-list' %}" class="text-muted"> Tutors List </a> </li>
                            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page"> <a href="{% url 'tutors:tutor-detail' %}" class="text-muted"> Tutors Detail </a> </li>
                            <li class="breadcrumb-item active text-dark font-weight-bold" aria-current="page"> <a href="{% url 'tutors:tutor-plans' %}" class=""> Tutors Plan </a> </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <section class="tutorplans">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 text-center mb-4">
                    <h1 class="Roboto-Bold mb-4"> Choose Your Plan </h1>
                    <p class="Roboto-Regular pt-4"> Get the help you need, or your money back </p>
                </div>


                <div class="col-md-12 col-lg-4 d-flex">
                    <div class="plan_box card shadow">
                        <div class="plan_box_upper">
                            <div class=" pl-2 pr-2">
                                <p class="font-weight-bold"> <img src="{% static 'src/assets/images/v2/chat.svg' %}" alt="Tutor" class="img-fluid" /> &nbsp;&nbsp; Chat Lesson </p>
                                <h1 class="font-weight-bold"> $ 6.95 </h1>
                                <p><small> /Lesson </small>
                            </div>

                            <div class="btn_action text-center pt-4 pb-4">
                                <button class="btn btn_common btn_magenta"> Get Started </button>
                            </div>
                        </div>

                        <div class="plan_box_lower">
                            <ul>
                                <li> <i class="fas fa-check-square check_yellow"></i> Instant, on-demand help from expert </li>
                                <li> <i class="fas fa-check-square check_yellow"></i> Chat </li>
                                <li> <i class="fas fa-check-square check_yellow"></i> 1 Lesson </li>
                                <li> <i class="fas fa-check-square check_yellow"></i> Subjects Available </li>
                                <li class="pt-4"> Accounting, Algebra, Biology, Calculus, Chemistry, Economics, Finance, Physics, Statistics </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 d-flex">
                    <div class="plan_box card shadow">
                        <div class="plan_box_upper">
                            <div class=" pl-2 pr-2">
                                <p class="font-weight-bold"> <img src="{% static 'src/assets/images/v2/chat.svg' %}" alt="Tutor" class="img-fluid" /> &nbsp;&nbsp; Basic Plan </p>
                                <h1 class="font-weight-bold"> $ 14.95 </h1>
                                <p><small> /Lesson </small>
                            </div>

                            <div class="btn_action text-center pt-4 pb-4">
                                <button class="btn btn_common btn_magenta"> Get Started </button>
                            </div>
                        </div>

                        <div class="plan_box_lower">
                            <ul>
                                <li> <i class="fas fa-check-square check_yellow"></i> Instant, on-demand help from expert </li>
                                <li> <i class="fas fa-check-square check_yellow"></i> Chat </li>
                                <li> <i class="fas fa-check-square check_yellow"></i> Unlimited Lesson </li>
                                <li> <i class="fas fa-check-square check_yellow"></i> Subjects Available </li>
                                <li class="pt-4"> Accounting, Algebra, Biology, Calculus, Chemistry, Economics, Finance, Physics, Statistics </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 d-flex">
                    <div class="plan_box card shadow">
                        <div class="plan_box_upper">
                            <div class=" pl-2 pr-2">
                                <p class="font-weight-bold"> <img src="{% static 'src/assets/images/v2/video_call.svg' %}" alt="Tutor" class="img-fluid" /> &nbsp;&nbsp; Video Call Lesson </p>
                                <h1 class="font-weight-bold"> $ 30 </h1>
                                <p><small> /Month </small>
                            </div>

                            <div class="btn_action text-center pt-4 pb-4">
                                <button class="btn btn_common btn_blue"> Subscribed </button>
                            </div>
                        </div>

                        <div class="plan_box_lower">
                            <ul>
                                <li> <i class="fas fa-check-square check_blue"></i> Instant, on-demand help from expert </li>
                                <li> <i class="fas fa-check-square check_blue"></i> Chat </li>
                                <li> <i class="fas fa-check-square check_blue"></i> 60 min/month </li>
                                <li> <i class="fas fa-check-square check_blue"></i> Audio, Video and live whiteboard </li>
                                <li> <i class="fas fa-check-square check_blue"></i> All Subjects Available </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}