{% extends "desklib/base.html" %}
{% load staticfiles %}
{% comment %}
{% extends "desklib/base.html" %}

{% block content %}

{{user}}
{{user.username}}
{{user.first_name}}
{{user.last_name}}
{{user.contact_no}}
{{user.get_country_display}}
{{user.college}}
{{user.university}}

{% endblock %}
{% endcomment %}

{% block content %}

<div class="container py-5">
  <div class="row">
      <aside class="col-sm-4 border-right">
        <div class="list-group" role="tablist">
          <a class="list-group-item list-group-item-action bg-active white" href="{% url 'my-profile' %}" role="tab" aria-controls="my-profile">My Profile</a>
               <a class="list-group-item list-group-item-action" href="{% url 'my-downloads' %}" role="tab" aria-controls="my-downloads">My Downloads</a>
               <a class="list-group-item list-group-item-action" href="{% url 'my-uploads' %}" role="tab" aria-controls="my-uploads">My Uploads</a>
                <a class="list-group-item list-group-item-action" href="{% url 'upload-file' %}" role="tab" aria-controls="upload-files">Upload Files</a>
               <a class="list-group-item list-group-item-action" href="{% url 'my-subscription' %}" role="tab" aria-controls="my-subscription">My Subscriptions</a>
        </div>
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item bg-active"><a class="white my-profile" href="{% url 'my-profile' %}">My Profile</a></li>
          <li class="list-group-item"><a class="blue-theme" href="{% url 'my-downloads' %}">My Downloads</a></li>
          <li class="list-group-item"><a class="blue-theme" href="javascript:void(0);">My Account</a></li>
          <li class="list-group-item"><a class="blue-theme" href="javascript:void(0);">My Settings</a></li>
          <li class="list-group-item"><a class="blue-theme" href="javascript:void(0);">Upload Files</a></li>
        </ul> -->
      </aside>
      <section class="col-sm-8">
          <div class="text-center py-2">
                <img class="img-fluid" src="{% static 'dist/assets/images/avatar.png' %}" width="100px" height="150px">
          </div>
          <div class="table-responsive-sm" id="profile-table">
            <table class="table">
              {% comment %}
              <tr>
                <td>Email</td>
                <td class="text-center">{{user.email}}</td>
              </tr>
              {% endcomment %}
              <tr>
                <td>Username</td>
                <td class="text-center">{{user.username}}</td>
              </tr>
              <tr>
                <td>Name</td>
                <td class="text-center">{{user.first_name}} {{user.last_name}}</td>
              </tr>              
              <tr>
                <td>Contact number</td>
                <td class="text-center">{{user.contact_no}}</td>
              </tr>
              {% if user.college %}
              <tr>
                <td>College</td>
                <td class="text-center">{{user.college}}</td>
              </tr>
              {% endif %}
              {% if user.university %}
              <tr>
                <td>University</td>
                <td class="text-center">{{user.university}}</td>
              </tr>
              {% endif %}              
              <tr>
                <td>Country</td>
                <td class="text-center">{{user.get_country_display}}</td>
              </tr>
              {% if subscription %}  
              <tr>
                <td>Plan</td>
                <td class="text-center">{{subscription.plan}}</td>
              </tr>
              {% endif %}              
            </table>
          </div>
      </section>
  </div>    
</div>

{% comment %}
<section class="py-5">
      <div class="container-fluid">
      	<div class="row">
      		<div class="col-md-12">
      			<h2 class="text-center mb-3">My Profile</h2>
      		</div>
      	</div>
        <div class="row">
            <div class="col-md-3">
                <div class="border p-1">
                    <a class="btn btn-light d-block text-decoration-none blue-theme my-profile" href="{% url 'my-profile' %}">My Profile</a>
                    <a class="btn btn-light d-block text-decoration-none blue-theme" href="{% url 'my-downloads' %}">My Downloads</a>
                    <a class="btn btn-light d-block text-decoration-none blue-theme" href="javascript:void(0);">My Settings</a>
                    <a class="btn btn-light d-block text-decoration-none blue-theme" href="javascript:void(0);">My Accounts</a>
                    <a class="btn btn-light d-block text-decoration-none blue-theme" href="javascript:void(0);">Upload Files</a>

            </div>
        </div>

            <div class="col-md-9 mt-3 mt-md-0">
              <div class="text-center py-2">
                <img class="img-fluid" src="{% static 'dist/assets/images/user.png' %}" width="100px" height="150px">
              </div>
              <div class="table-responsive-sm">
              <table class="table">              
                <tr>
                  <td>Email</td>
                  <td class="text-center">{{user.email}}</td>
                </tr>                
                <tr>
                  <td>Username</td>
                  <td class="text-center">{{user.username}}</td>
                </tr>
                <tr>
                  <td>First Name</td>
                  <td class="text-center">{{user.first_name}}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td class="text-center">{{user.last_name}}</td>
                </tr>
                <tr>
                  <td>Contact number</td>
                  <td class="text-center">{{user.contact_no}}</td>
                </tr>
                <tr>
                  <td>College</td>
                  <td class="text-center">{{user.college}}</td>
                </tr>
                <tr>
                  <td>University</td>
                  <td class="text-center">{{user.university}}</td>
                </tr>
                <tr>
                  <td>Country</td>
                  <td class="text-center">{{user.get_country_display}}</td>
                </tr>
              </table>
              </div>
            </div>
      </div>
     </div>
</section>
{% endcomment %}

{% endblock %}