{% extends "desklib/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container pt-5 pb-5">

	{% block messages %}
    {% if messages %}
    <div>
        <ul>
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto box-shadow-3-3-5-5 py-4 border-radius-20 border">
        <h4 class="text-center py-2" id="head_banner">{% trans "Change Password" %}</h4>
            <hr>
    <form method="POST" action="{% url 'account_change_password' %}" class="container-fluid text-center" id="change_password_form">
        {% csrf_token %}
        <div class="form-label-group">
            {{ form.oldpassword }}
        <small id="oldpasswordHelp" class="form-text text-muted text-center">{{ form.oldpassword.errors }}</small>
        </div>
        <div class="form-label-group">
            {{ form.password1 }}
        <small id="password1Help" class="form-text text-muted text-center">{{ form.password1.errors }}</small>
        </div>
        <div class="form-label-group">
            {{ form.password2 }}
        <small id="password2Help" class="form-text text-muted text-center">{{ form.password2.errors }}</small>
        </div>
        <button class="btn btn-lg btn-primary btn-block border-radius-30" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
        </div>
    </div>
 </div>
{% endblock %}
