{% extends "desklib/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container text-center py-5">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin box-shadow-3-3-5-5 py-4 border">
                    <h4>{% trans "Change Password" %}</h4>
                    <hr>
                    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
