{% extends "desklib/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block head_links %} 
{% load socialaccount %}

<title>Signup</title>

{% endblock %}

{% block content %}
{% comment %}
<div class="container-fluid">

 {% block messages %}
    {% if messages %}
    <div>
        <ul >
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        {% endfor %}
        </ul>
    </div>
    {% endif %}
  {% endblock %}

<h3 class="h3" id="head_banner">{% trans "Sign Up" %}</h3>

<p class="exist_account_info">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="container-fluid text-center" id="signup_form1" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  {{ form.as_p }}



  {% if redirect_field_value %}

  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  
  {% endif %}
  
  <button class="btn btn-outline-primary btn-lg" type="submit">{% trans "Sign Up" %}</button>
</form>

</div>
{% endcomment %}
<main class="login-page">
    <div class="container">
    <div class="row">
      <div class="col-lg-10 col-xl-9 mx-auto">
        <div class="card card-signin flex-row my-5">
          <div class="card-img-left d-none d-md-flex">
             <!-- Background image for card set in CSS! -->
          </div>
          <div class="card-body">
            <h4 class="card-title text-center">Register</h4>
            <form class="container-fluid text-center" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}

                <div class="form-label-group">
                    {{ form.email }}
<!--                    <input type="text" id="inputEmail" class="form-control" placeholder="Email address" required>-->
<!--                    <label for="inputEmail">Email address</label>-->
                </div>
                <div class="form-label-group">
                    {{ form.first_name }}
<!--                    <input type="text" id="inputUserame" class="form-control" placeholder="Username" required autofocus>-->
<!--                    <label for="inputUserame">Username</label>-->
                </div>
                <div class="form-label-group">
                    {{ form.last_name }}
<!--                    <input type="email" id="" class="form-control" placeholder="Email address" required>-->
<!--                    <label for="inputEmail"></label>-->
                </div>
                <hr>
                <div class="form-label-group">
                    {{ form.contact_no }}
<!--                    <input type="email" id="" class="form-control" placeholder="Email address" required>-->
<!--                    <label for="inputContact"></label>-->
                </div>
                <div class="form-label-group">
                    {{ form.password1 }}
                </div>
                <div class="form-label-group">
                    {{ form.password2 }}
                </div>
<!--                <p><label for="id_password1">Password:</label>-->
<!--                    <input class="form-control" type="password" name="password1" placeholder="Password" id="id_password1" required=""></p>-->
<!--                <p><label for="id_password2">Password (again):</label>-->
<!--                    <input class="form-control" type="password" name="password2" placeholder="Password (again)" id="id_password2" required=""></p>-->
                {% if redirect_field_value %}

                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />

                {% endif %}


              <button class="btn btn-lg btn-primary btn-block text-uppercase form-btn-group custom-rounded-circle" type="submit">Register</button>
              <a class="d-block text-center mt-2 small form-btn-group" href="{% url 'account_login' %}">Sign In</a>
              <hr class="my-4">
                <a href="{% provider_login_url 'google' method='oauth2'%}"><button class="btn btn-lg btn-google btn-block custom-rounded-circle form-btn-group" type="submit"><i class="fab fa-google mr-2"></i>Google Sign up</button></a>
              &nbsp
                <a id="facebook_login" href="{% provider_login_url 'facebook' method='oauth2' %}"><button class="btn btn-lg btn-facebook btn-block form-btn-group custom-rounded-circle" type="submit"><i class="fab fa-facebook-f mr-2"></i>Facebook Sign up</button></a>
              
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function (){
        $(".register").addClass("active");
    });
</script>
{% endblock extra_js %}
