{% extends "desklib/base.html" %}
{% block content %}
<ul>
	{% for object in object_list %}
	<h1></h1>
	<li>{{ object.course_name }}</li>
	<li>{{ object.course_code }}</li>
	<li>{{ object.country }}</li>
	<li>{{ object.university }}</li>
	<li>{{ object.get_type_display }}</li>
	{% for i in object.subjects.all %}
	<li>{{ i }}</li>
	{% endfor %}
	<li>{{ object.upload_file}}</li>
	{% endfor %}
</ul>
	
<section class="pt-5">
      <div class="container">
        <div class="row">
            <aside class="col-sm-4 border-right">
		 	 	<div class="list-group" role="tablist">
			         <a class="list-group-item list-group-item-action bg-active white" href="{% url 'my-profile' %}" role="tab" aria-controls="my-profile">My Profile</a>
			         <a class="list-group-item list-group-item-action" href="{% url 'my-downloads' %}" role="tab" aria-controls="my-downloads">My Downloads</a>
			         <a class="list-group-item list-group-item-action" href="javascript:void(0);" role="tab" aria-controls="my-account">My Account</a>
			         <a class="list-group-item list-group-item-action" href="javascript:void(0);" role="tab" aria-controls="my-settings">My Settings</a>
			         <a class="list-group-item list-group-item-action" href="javascript:void(0);" role="tab" aria-controls="upload-files">Upload Files</a>
        </div>
	</aside> 
            <div class="col-sm-8 mt-3 mt-md-0">
            	<h2 class="text-center mb-3">My Uploads</h2>
            	 <div class="table-responsive-sm">
            		<table class="table table-bordered">
            		 	<thead>
            		 	 	<tr>
            		 	 	   <th scope="col">Course Name</th>
                                <th scope="col">Course Code</th>
            		 	 	     <th scope="col">Subject</th>
                                 <th scope="col">Country</th>
                                 <th scope="col">University</th>
                                 <th scope="col">Document Type</th>
                                 <th scope="col">Uploaded File</th>
            		 	 </tr>
            		 </thead>
            		   <tbody>
                         {% for object in object_list %}
            		   	   <tr>
            		   	   	 <td scope="row">{{ object.course_name }}</td>
            		   	   	 <td scope="row">{{ object.course_code }}</td>
                             <td scope="row">{{ object.subjects }}</td>
            		   	   	 <td scope="row">{{ object.country }}</td>
            		   	   	 <td scope="row">{{ object.university }}</td>
                             <td scope="row">{{ object.get_type_display }}</td>
                              <td scope="row">
                                {{ object.upload_file|truncatechars:10 }}
                              </td>
            		   	   </tr>
                             {% endfor %}
            		   </tbody>
            		  
  </table>
</div>
</div>
</div>
</div>
</section>

{% endblock %}
