  {% extends "desklib/base.html" %}
{% load staticfiles %}
{% block content %}
{% comment %}
<ul>
	{% for object in object_list %}
	<h1></h1>
	<li>{{ object.course_name }}</li>
	<li>{{ object.course_code }}</li>
	<li>{{ object.country }}</li>
	<li>{{ object.university }}</li>
	<li>{{ object.get_type_display }}</li>
	{% for i in object.subjects.all %}
	<li>{{ i }}</li>
	{% endfor %}
	<li>{{ object.upload_file}}</li>
	{% endfor %}
</ul>
{% endcomment %}
<section class="pt-5">
    <div class="container">
        <div class="row">
            <aside class="col-sm-4 border-right">
		 	 	      <div class="list-group" role="tablist">
			         <a class="list-group-item list-group-item-action" href="{% url 'my-profile' %}" role="tab" aria-controls="my-profile">My Profile</a>
			         <a class="list-group-item list-group-item-action" href="{% url 'my-downloads' %}" role="tab" aria-controls="my-downloads">My Downloads</a>
			         <a class="list-group-item list-group-item-action bg-active white" href="{% url 'my-uploads' %}" role="tab" aria-controls="my-account">My Uploads</a>
                <a class="list-group-item list-group-item-action" href="{% url 'upload-file' %}" role="tab" aria-controls="upload-files">Upload Files</a>
                     <a class="list-group-item list-group-item-action" href="{% url 'my-subscription' %}" role="tab" aria-controls="my-subscriptions">My Subscriptions</a>
                </div>
	        </aside>
            <div class="col-sm-8 mt-3 mt-md-0">
            	<h4 class="mb-3" style="display: inline-block;">My Uploads</h4><i class="fa fa-upload fa-4" aria-hidden="true" style="font-size:21px;color: #405fbd; padding-left: inherit;"></i>
            	 <div class="table-responsive-sm">
            		<table class="table table-bordered table-sm">
            		 	<thead>
            		 	 	<tr>
            		 	 	    <th scope="col">Course Name</th>
                                <th scope="col">Course Code</th>
                                <th scope="col">University</th>
                                <th scope="col">Document Type</th>
                                <th scope="col">Upload Date</th>
                                <th scope="col">Status</th>
            		 	 </tr>
            		 </thead>
            		   <tbody>
                         {% for object in object_list %}
            		   	   <tr>
            		   	   	 <td scope="row">{{ object.course_name }}</td>
            		   	   	 <td scope="row">{% if object.course_code %} {{ object.course_code }}{% endif %}</td>
            		   	   	 <td scope="row">{% if object.university %}{{ object.university }}{% endif %}</td>
                             <td scope="row">{{ object.get_type_display }}</td>
                             <td scope="row">{{ object.created|date:"M d Y" }}</td>
                             <td scope="row">{{ object.get_status_display }}</td>
            		   	   </tr>
                             {% endfor %}
            		   </tbody>

                    </table>

    {% comment %}
    <div class="d-flex justify-content-center my-3">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
           <span class="step-links">
                {% if my_uploads.has_previous %}
                        <a href="?page={{ my_uploads.previous_page_number }}" class="pagination-previous"> previous </a>
                {% endif %}
                  <span class="current">
                    Page {{ my_uploads.number }} of {{ my_uploads.paginator.num_pages }}
                </span>
                {% if my_uploads.has_next %}
                        <a href="?page={{ my_uploads.next_page_number }}" class="pagination-next"> next </a>
                {% endif %}
            </span>

        </li>
      </ul>
    </nav>
    </div>
    {% endcomment %}
{% if object.has_other_pages %}
    <div class="container d-flex justify-content-center">
      <div class="row">
        <div class="col-md-12">
              <ul class="pagination" id="uploads">
                <li class="page-item p-3">
                {% if object.has_previous %}
                    <a class="previous" href="?page={{ object.previous_page_number }}">
                        <span aria-hidden="true"><i class='fas fa-angle-left fafa-nav-active blue-theme'></i></span>
                    </a>
                {% else %}
                <a class="previous"><i class='fas fa-angle-left fafa-nav-in-active'></i></a>
                {% endif %}
                </li>
                {% for page in object.paginator.page_range %}
                    {% if object.number == page %}
                    <li class="page-item active p-3"><a class="rounded-circle page-link border-color bg-blue-theme" href="?page={{page}}">{{page}}</a></li>
                    {% elif page > object.number|add:'-3' and page < object.number|add:'3' %}
                    <li class="page-item p-3"><a class="rounded-circle page-link blue-theme" href="?page={{page}}">{{page}}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="page-item p-3">
                {% if object.has_next %}
                    <a class="previous blue-theme" href="?page={{ object.next_page_number }}"><span aria-hidden="true"><i class='fas fa-angle-right fafa-nav-in-active'></i></span></a>
                {% else %}
                  <a class="next"><i class='fas fa-angle-right fafa-nav-in-active'></i></a>
                {% endif %}
                </li>
              </ul>
        </div>
      </div>
    </div>
                     {% endif %}
</div>
</div>
</div>
</div>
</section>


{% endblock %}
