{% extends "desklib/base.html" %}

<head>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
</head>
 {% block extra_css %}
 <style>
 .select2-container--default .select2-selection--multiple{
 	border-radius: 2rem;
 	border-color: #ced4da;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: solid 1px #ced4da;
}
.select2-container--default .select2-selection--single{
 	border-radius: 2rem;
 	border-color: #ced4da;
 	height: 38px;
 	padding: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
	top: 6px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
	margin-left: 16px;
}
.select2.select2-container.select2-container--default{
	width: 100% !important;
}

#flag_id_country{
	position: absolute;
	left: 5px;
	top: 8px;
}
label.custom-file-label{
	border-top-left-radius: 2rem;
	border-bottom-left-radius: 2rem;
}
span.input-group-text{
	border-top-right-radius: 2rem;
	border-bottom-right-radius: 2rem;
}
</style>
{% endblock extra_css %}

{% block content %}
{% comment %}
  <form method="POST" action=""  enctype="multipart/form-data">
        {% csrf_token %}
        <table>{{ form }}</table>
          <input type="file" name="upload_file">
	  <input type="submit" value="abc">
</form>
{{form.as_p}}
{% endcomment %}
<section class="py-5">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8">
			   <div class="card p-4 box-shadow-3-3-5-5">
				<h2 class="text-center mb-3 mt-3 mt-md-3">Upload your documents</h2>
					<form method="POST" action="" enctype="multipart/form-data" novalidate>
						 {% csrf_token %}
						<div class="row mt-3 mb-sm-3">
							<div class="col-sm-4 col-md-4">
								<div class="form-group">
					 	  			<label for="id_course_name" class="star"><strong>{{form.course_name.label}}:</strong></label>
					 </div>
					</div>
					<div class="col-sm-8">
						<div class="form-group">
							{{form.course_name}}
							<span id="" class="form-text text-muted">{{form.course_name.errors}}</span>
						</div>
					</div>
				</div>
				<div class="row mb-sm-3">
					<div class="col-sm-4 col-md-4">
						<div class="form-group">
					 	  		<label for="id_course_code" class=""><strong>{{form.course_code.label}}:</strong></label>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						{{ form.course_code }}
						<span id="" class="form-text text-muted">{{form.course_code.errors}}</span>
					</div>
				</div>
			</div>
			<div class="row mb-sm-3">
					<div class="col-sm-4 col-md-4">
						<div class="form-group">
					 	  		<label for="id_subject" class="star"><strong>{{form.subjects.label}}:</strong></label>
					</div>
				</div>
				<div class="col-sm-8">
                  <div class="form-group">
						{{ form.subjects }}
						<span id="" class="form-text text-muted">{{form.subjects.errors}}</span>
					</div>
				</div>
			</div>
			<div class="row mb-sm-3">
				<div class="col-sm-4 col-md-4">
					<div class="form-group">
					 	  		<label for="id_country" class="star"><strong>{{form.country.label}}:</strong></label>
				</div>
			</div>
				<div class="col-sm-8">
					<div class="form-group position-relative">
						{{ form.country }}
						<span id="" class="form-text text-muted">{{form.country.errors}}</span>
						
					</div>
				</div>
			</div>
			<div class="row mb-sm-3">
				<div class="col-sm-4 col-md-4">
					<div class="form-group">
					 	  		<label for="id_college" class=""><strong>{{form.university.label}}:</strong></label>
				</div>
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						{{ form.university }}
						<span id="" class="form-text text-muted">{{form.university.errors}}</span>
					</div>
				</div>
			</div>
			<div class="row mb-md-3">
				<div class="col-sm-4 col-md-4">
					<div class="form-group">
					 	  		<label for="id_document" class="star"><strong>{{form.type.label}}:</strong></label>
				</div>
				</div>
				<div class="col-sm-8">
					<div class="form-group">
						{{ form.type }}
						<span id="" class="form-text text-muted">{{form.type.errors}}</span>
					</div>
				</div>
			</div>
			<div class="row mb-sm-3">
				<div class="col-sm-4 col-md-4">
					<div class="form-group">
						<label for="inputGroupFile02" class="star"><strong>{{form.upload_file.label}}:</strong></label>
					</div>
				</div>
			<div class="col-sm-8">
			   <div class="form-group">
				<div class="input-group">
					<div class="custom-file">
					  	{{ form.upload_file}}
    					<label class="custom-file-label" for="inputGroupFile02">Choose file</label>
 			 </div>
 			 <div class="input-group-append">
    			<span class="input-group-text" id="">Upload</span>
  		</div>
		</div>
		<small id="" class="form-text text-muted">
			You can upload doc, docx, and pdf format. Max file-size should be 5 MB</small>
		<small id="" class="form-text text-muted">{{form.upload_file.errors}}</small>

	</div>
</div>
	          {% comment %}
				<div class="col-sm-8">
					{{ form.upload_file}}
					<span id="" class="form-text text-muted">{{form.upload_file.errors}}</span>
			</div>
			{% endcomment %}
		</div>
			<div class="row d-flex justify-content-center mt-3 mb-sm-3">
				<div class="col-sm-3">
				<input type="submit" value="Upload document" class="btn btn-bg-theme text-white border-radius-40">
			</div>
			</div> 
			</form>	 
			</div>
		</div> 
		</div>
	</div>
</section>

{% endblock %}

{% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
<script>
$(document).ready(function() {
    $('.js-example-basic-single').select2();
});
</script>
<script>
$(document).ready(function() {
    $('.js-example-basic-multiple').select2();
});
</script>
 <script>
    $(document).on('change', '.custom-file-input', function (event) {
    $(this).next('.custom-file-label').html(event.target.files[0].name);
})
</script>

{% endblock %}
