{% extends "desklib/base.html" %}
{% load staticfiles %}
{% block content %}
<section>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'subjects:subjects'%}">Subjects</a></li>
        <li class="breadcrumb-item"><a href="{% url 'subjects:parent-subject-view' object.parent_subject.slug %}">{{object.parent_subject.name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
  </ol>
</nav>
</section>
<section>
	<div class="container">
		<div class="row mb-4 mt-4 pb-2 border-bottom">
			<div class="col-sm-7">
				{% if object.info_graphic_image %}
				 <img src="{{ object.info_graphic_image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid subject-img h-auto">
				 {% elif object.image %}
				 <img src="{{ object.image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid subject-img h-auto">
				 {% endif %}
				<h4 class="card-title d-inline">{{object.name}}</h4>
               {% if object.sub_heading %}
                <p class="pt-2">{{object.sub_heading}}</p>
                {% elif  object.short_description %}
                <p class="pt-2">{{object.short_description}}</p>
                {% endif %}
			</div>
			<div class="col-sm-5"></div>
		</div>
		<div class="row mt-4 mb-4">
			 {% for child in child_subject %}
			<div class="col-sm-4 mb-3">
				<h5>
					<a href="{% url 'subjects:child-subject-view' object.slug child.slug %}" class="blue-theme">{{child}}</a> </h5>

						{% for c in doc_count %}
						{% if c.name == child.name %}

				<span class="d-block text-muted pb-2 font-size-12">{{c.doc_subject}} documents</span>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>	
</section>	
<!-- search bar and tabs -->
{% if top %}
<section>			
	<div class="container">		
		<div class="row mt-md-4 mb-md-4 mb-3 mt-3 border-bottom pb-2">
			<div class="col-sm-4 mb-md-2 mb-4">
				<form class="form-inline" action="">
            		<div class="input-group tt-input-group" id="remote">
                	<input type="search" name="search" class="typeahead form-control border-radius-30" placeholder="Search here..." value="">
                	<div class="input-group-append">
                    <button class="btn rounded-circle search-bg" type="submit"><i class="fa fa-search search-icon"></i></button>
                </div>
            </div>
        </form>
		</div>
		<div class="col-sm-8">
<ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#all-tab" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#recent-tab" role="tab" aria-controls="pills-profile" aria-selected="false">Recent</a>
  </li>
  
</ul>
</div>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="all-tab" role="tabpanel" aria-labelledby="all-tab">
	<div class="row mt-5 mb-4">
  		{% for documents in recent %}
		<div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-md-3">
			<a href="" class="text-decoration-none">
			<div class="card h-100">
				<img class="card-img-top card-height" src="{{documents.image.url}}" alt="icon">
				<div class="card-body">
					<p class="card-text black-font">{{documents.title|truncatechars:25}}</p>
					<span class="border-right p-2">
                        <span class="text-muted">{{documents.page}}</span>
                            <span class="text-muted">pages</span>
                    </span>
                    <span class="p-2">
                        <span class="text-muted">{{documents.words}}</span>
                        <span class="text-muted">words
                        </span>
                    </span>
			</div>
		</div>
	</a>
	</div>
	{% endfor %}
</div>
</div>
<div class="tab-pane fade" id="recent-tab" role="tabpanel" aria-labelledby="recent-tab">
	<div class="row mt-5 mb-4">
		{% for documents in document %}
		<div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-md-3">
			<a href="" class="text-decoration-none">
			<div class="card h-100">
				<img class="card-img-top card-height" src="{{documents.image.url}}" alt="icon">
				<div class="card-body">
					<p class="card-text black-font">{{documents.title|truncatechars:25}}</p>
					<span class="border-right p-2">
                        <span class="text-muted">{{documents.page}}</span>
                            <span class="text-muted">pages</span>
                    </span>
                    <span class="p-2">
                        <span class="text-muted">{{documents.words}}</span>
                        <span class="text-muted">words
                        </span>
                    </span>
			</div>
		</div>
	</a>
	</div>
	{% endfor %}
	</div>
  </div>
</div>
</div>
</section>
{% endif %}
<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-sm-12 text-center">
				{% if recent %}
				<a class="btn text-white btn-bg-theme border-radius-40 py-2 px-4 mt-3" href="">View More</a>
				{% elif top_results %}
				<a class="btn text-white btn-bg-theme border-radius-40 py-2 px-4 mt-3" href="">View More</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<section class="bg-light pt-5 pb-5">
	<div class="container">
		<div class="row bg-light">
			<div class="col-sm-12 text-center">
				<h3>join us and improve your grades.</h3>
				<h3>Get best deals</h3>
					<a class="btn text-white btn-bg-theme border-radius-40 py-2 px-4 mt-3" href="">Join now</a>
			</div>
		</div>
	</div>
</section>
{% comment %}
{{document}}

child subject page

{{object.name}}

{{document}}
{% endcomment %}

{% endblock %}