{% extends "desklib/base.html" %}
{% load staticfiles %}
{% load meta %}
{% block content %}
<section>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'subjects:subjects'%}">Subjects</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.name}}</li>
  </ol>
</nav>
</section>
<section>
	<div class="container">
		<div class="row mb-4 mt-4 pb-2 border-bottom">
			<div class="col-sm-7">
				{% if object.info_graphic_image %}
				 <img src="{{ object.info_graphic_image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid width-50px h-auto">
				 {% elif object.image %}
				 <img src="{{ object.image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid width-50px h-auto">
				 {% endif %}
				<h4 class="card-title d-inline ml-2">{{object.name}}</h4>
				{% if object.sub_heading %}
                <p class="pt-2">{{object.sub_heading}}</p>
                {% elif  object.short_description %}
                <p class="pt-2">{{object.short_description}}</p>
                {% endif %}
			</div>
			<div class="col-sm-5"></div>
		</div>
		<div class="row mt-4 mb-4">
			 {% for child in child_subject %}
			<div class="col-sm-4 mb-3">
				<h5>
					<a href="{% url 'subjects:child-subject-view' object.slug child.slug %}" class="blue-theme">{{child}}</a> </h5>

						{% for c in doc_count %}
						{% if c.name == child.name %}

				<span class="d-block text-muted pb-2 font-size-12">{{c.doc_subject}} documents</span>
				{% endif %}
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>	
</section>	
<!-- search bar and tabs -->
{% if recent %}
<section>			
	<div class="container">		
		<div class="row mt-md-4 mb-md-4 mb-3 mt-3 border-bottom pb-2">
			<div class="col-sm-4 mb-md-2 mb-4">
				<form class="form-inline" action="">
            		<div class="input-group tt-input-group" id="">
                	<input type="search" name="search" class="sm-search typeahead form-control border-radius-30" placeholder="Search here..." value="">
                	<div class="input-group-append">
                    <button class="btn rounded-circle search-bg" type="submit"><i class="fa fa-search search-icon"></i></button>
                </div>
            </div>
        </form>
		</div>
		<div class="col-sm-8">
<ul class="nav nav-pills mb-3 justify-content-end" id="pills-tab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#all-tab" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#recent-tab" role="tab" aria-controls="pills-profile" aria-selected="false">Recent</a>
  </li>
  
</ul>
</div>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="all-tab" role="tabpanel" aria-labelledby="all-tab">
	<div class="row mt-5 mb-4">
  		{% for documents in recent %}
		<div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-md-3">
			<a href="{% url 'documents:document-view' documents.slug %}" class="text-decoration-none">
			<div class="card h-100 border-radius-12 pt-2 shadow">
				<img class="card-img-top card-height" src="{{documents.cover_image}}" alt="icon">
				<div class="card-body">
					<h6 class="card-text blue-theme">{{documents.title|truncatechars:40}}</h6>
					 <small class="text-muted">{{documents.no_of_pages}}</small>
					 <small class="text-muted">pages</small>
					 <small class="text-muted">{{documents.no_of_words}}</small>
					 <small class="text-muted">words</small>
					 <small class="text-muted">{{documents.pub_date|date:"d M Y"}}</small>
			</div>
		</div>
	</a>
	</div>
	{% endfor %}
</div>
</div>
<div class="tab-pane fade" id="recent-tab" role="tabpanel" aria-labelledby="recent-tab">
	<div class="row mt-5 mb-4">
		{% for documents in top_results %}
		<div class="col-sm-6 col-md-4 col-lg-3 mb-3 mb-md-3">
			<a href="{% url 'documents:document-view' documents.slug %}" class="text-decoration-none">
			<div class="card h-100 border-radius-12 pt-2 shadow">
				<img class="card-img-top card-height" src="{{documents.cover_image}}" alt="icon">
				<div class="card-body">
					<h6 class="card-text blue-theme">{{documents.title|truncatechars:40}}</h6>
					<small class="text-muted">{{documents.no_of_pages}}</small>
					<small class="text-muted">pages</small>
					<small class="text-muted">{{documents.no_of_words}}</small>
					<small class="text-muted">words</small>
                    <small class="text-muted">{{documents.pub_date|date:"d M Y"}}</small>
			</div>
		</div>
	</a>
	</div>
	{% endfor %}
	</div>
  </div>
</div>
</div>
</section>
{% endif %}

<section>
	<div class="container">
		<div class="row mb-5">
			<div class="col-sm-12 text-center">
				{% if recent %}
				<a class="btn text-white btn-bg-theme border-radius-40 py-2 px-4 mt-3" href="{% url 'study:search-results' %}?q=&amp;selected_facets=p_subject_exact:{{object.slug}} ">View More</a>
				{% elif top_results %}
				<a class="btn text-white btn-bg-theme border-radius-40 py-2 px-4 mt-3" href="{% url 'study:search-results' %}?q=&amp;selected_facets=p_subject_exact:{{object.slug}}">View More</a>
				{% endif %}
			</div>
		</div>
	</div>
</section>
<section class="bg-light pt-5 pb-5">
	<div class="container">
		<div class="row bg-light">
			<div class="col-sm-12 text-center">
				<h3>Join us and improve your grades.</h3>
				<h3>Get best deals</h3>
					<a class="btn text-white btn-bg-theme border-radius-40 py-2 px-4 mt-3" href="{% url 'subscription' %}">Join now</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}
