{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls static %}
{% block extrahead %}
{% load static  %}

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>

{{ form.media }}

<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />
{% endblock %}
{% block content_title %}<h1>Change Publish Date of documents</h1>{% endblock %}

{% block content %}
<div id="content-main">
	<form method="post" action="">{% csrf_token %}
        {{ form.date_time }}
		{% for dates in dates_obj %}
    <input type="hidden" name="_selected_action" value="{{ dates.pk }}" />
  {% endfor %}
		<input type="hidden" name="action" value="chage_publish_date" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}">
    <a href="#" type="submit" class="cancel-link button" style="padding:10px 15px!important;margin-left: 15px;">{% trans "No, take me back" %}</a>
    </form>
</div>
{% endblock %}