{% extends "desklib/base.html" %}
{% load staticfiles %}
{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<section>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'blog' %}">blog</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{object.title}}</li>
  </ol>
</nav>
</section>
<section>
    <div class="pt-15rem pb-15rem position-relative" style="background-image:url('{{object.cover_image.url}}');background-size: cover; background-repeat: no-repeat;"></div>
        <div class="container position-absolute bottom pt-12rem">
            <p class="text-uppercase text-center">
                <span class="pr-3 border-right-black">{{object.published_date|date:"d M Y"}}</span>
                <span class="pl-3 pr-3 border-right-black">{{object.author}}</span>
                {% if object.category.all %}
                {% for category in object.category.all %}
                <span class="pl-3">{{category}}</span>
                {% endfor %}
                {% endif %}
            </p>
            <h1 class="text-uppercase text-center blue-theme">{{object.title}}</h1>
        </div>
</section>
<section>
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-md-8 mb-4 mb-md-0">
                <div class="pr-4">
                    {% if object.short_description %}
                    <h3>{{object.short_description}}</h3>
                     {% endif %}
                    {% if object.description %}
                    <p>{{object.description|safe}}</p>
                     {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="border">
                <div class="row">
                    <div class="col-md-12">
                        <div class="p-2 shadow">
                            <h6 class="mb-0">Social Connect</h6>
                        </div>
                    </div>
                </div>
                  <div class="row">
                    <div class="col-3 col-md-6 col-lg-3 py-3 border-lg-right border-sm-right border-mob-right">
                            <a href="https://facebook.com/sharer.php?u=http://{{request.get_host}}" target="_blank">
                                <img src="{% static 'dist/assets/images/Social media-facebook.png' %}" alt="" class="img-fluid mx-auto d-block padding-left-10">
                            </a>
                    </div>
                    <div class="col-3 col-md-6 col-lg-3 py-3 border-lg-right border-mob-right border-sm-right border-md-right">
                            <a href="https://twitter.com/intent/tweet?url=http://{{request.get_host}}" target="_blank">
                                <img src="{% static 'dist/assets/images/Social media-twitter.png' %}" alt="" class="img-fluid mx-auto d-block">
                            </a>
                    </div>
                    <div class="col-3 col-md-6 col-lg-3 py-3 border-lg-right border-sm-right border-mob-right">
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://{{request.get_host}}&title=LinkedIn%20Developer%20Network &summary=My%20favorite%20developer%20program&source=LinkedIn" target="_blank">
                                <img src="{% static 'dist/assets/images/Social media-linkedin.png' %}" alt="" class="img-fluid mx-auto d-block">
                            </a>
                    </div>
                    <div class="col-3 col-md-6 col-lg-3 py-3">
                            <a href="https://web.whatsapp.com/send?text=http://{{request.get_host}}" target="_blank">
                                <img src="{% static 'dist/assets/images/Social media-whatsapp.png' %}" alt="" class="img-fluid mx-auto d-block padding-right-10">
                            </a>
                    </div>
                </div>
            </div>
                <div class="border mt-5">
                   <div class="row">
                    <div class="col-md-12">
                        <div class="p-2 shadow">
                            <h6 class="mb-0">Featured Posts</h6>
                        </div>
                    </div>
                </div>
                    <div class="row">
                         {% for featured_blog in featured_blog %}
                        <div class="col-md-4">
                            <div class="pt-3 pl-2">
                                <img src="{% static 'dist/assets/images/Featured-posts.png' %}" alt="" class="img-fluid border-radius-5  border border-left-0 border-top-0 px-2 pb-2 mx-auto d-block">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="pt-3 px-3 px-md-0">
                                <h6><strong>{{featured_blog.title|truncatechars:20}}</strong></h6>
                                <p>{{featured_blog.description|safe|truncatechars:35}}</p>
                            </div>
                        </div>
                          {% endfor %}
                    </div>
                </div>
<!--                </div>-->
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% comment %}
{{object.title}}
<img src="{{object.cover_image.url}}">
{{object.short_description}}
{{object.description}}
{% endcomment %}

{% endblock %}