{% extends "desklib/base.html" %}
{% load staticfiles %}
{% block content %}

<section>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb mb-0 rounded-0 bg-light-grey">
        <li class="breadcrumb-item"><a href="/" class="">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">blog</li>
  </ol>
</nav>
</section>
<section>
    <div class="blog-list-banner"></div>
</section>
<section class="bg-light-grey">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-md-12">
                <h3 class="font-weight-bold">OUR BLOGS</h3>
                <hr>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-8">
                <div class="pr-md-4">
                    <div class="row">
                    {% for blog in object_list %}
                        <div class="col-md-6 mb-5 mb-md-0">
                            <a href="{% url 'blog_detail' year=blog.published_date|date:'Y' month=blog.published_date|date:'m' date=blog.published_date|date:'d' slug=blog.slug %}" class="text-decoration-none">
                                <div class="card border-0 h-100 shadow">
                                    <img src="{{ blog.cover_image.url }}" alt="" class="img-fluid">
                                        <div class="card-body bg-light">
                                        <h6 class="black-font">{{blog.title}}</h6>
                                        {% if blog.short_description %}
                                            <small class="text-muted">{{blog.short_description}}</small>
                                        {% endif %}
                                            <p class="border-bottom py-2"></p>
                                            <small class="border-right text-muted pr-3">{{blog.author.first_name}}</small>
                                            <small class="text-muted pl-2">{{blog.published_date|date:"d M Y"}}</small>
                                        </div>
                                </div>
                            </a>
                        </div>
                     {% endfor %}
                </div>
            </div>
{% if object.has_other_pages %}
                <div class="row">
                    <div class="col-md-12">
                        <ul class="pagination justify-content-center">
                            <li class="page-item p-3">
                            {% if object.has_previous %}
                                <a class="previous" href="?page={{ object.previous_page_number }}">
                                    <span aria-hidden="true"><i class='fas fa-angle-left fafa-nav-active blue-theme'></i></span>
                                </a>
                            {% else %}
                            <a class="previous"><i class='fas fa-angle-left fafa-nav-in-active'></i></a>
                            {% endif %}
                            </li>
                        {% for page in object.paginator.page_range %}
                            {% if object.number == page %}
                            <li class="page-item active p-3">
                                <a class="rounded-circle page-link border-color bg-blue-theme" href="?page={{page}}">{{page}}</a>
                            </li>
                            {% elif page > object.number|add:'-3' and page < object.number|add:'3' %}
                            <li class="page-item p-3">
                                <a class="rounded-circle page-link page-link blue-theme" href="?page={{page}}">{{page}}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                            <li class="page-item p-3">
                            {% if object.has_next %}
                                <a class="previous blue-theme" href="?page={{ object.next_page_number }}"><span aria-hidden="true"><i class='fas fa-angle-right fafa-nav-in-active'></i></span></a>
                            {% else %}
                                <a class="next"><i class='fas fa-angle-right fafa-nav-in-active'></i></a>
                            {% endif %}
                            </li>
                        </ul>
                    </div>
                </div>
{% endif %}

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card pt-3 pl-3 pb-2 pr-3 rounded-bottom rounded-0">
                            <h5 class="mt-3 mt-md-0 blue-theme"><strong>Contact Form</strong></h5>
                        </div>
                        <div class="card pt-3 pl-3 pb-3 pr-3 rounded-bottom rounded-0 border-top-0">
                            <form method="POST" id="signup" novalidate="novalidate">
                                {% csrf_token %}
                                <div class="row mt-2">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <input type="text" id="username" name="name" class="mb-2 form-control border-radius-20" placeholder="Enter Name.." aria-required="true">
                                            <span class="errors subs_name text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <input type="text" name="email" class="mb-2 form-control border-radius-20" id="newemail" placeholder="Enter Email.." aria-required="true">
                                                <span class="errors subs_email text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <textarea name="message" class="mb-2 form-control" id="message" placeholder="Type Message" aria-required="true"></textarea>
                                                <span class="errors subs_message text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="loader" class="display-none">
                                    <img src="{% static 'dist/assets/images/loader.gif' %}" class="img-fluid mx-auto d-block">
                                </div>
                                <div class="row mt-2 mb-2">
                                    <div class="col-lg-12">
                                        <input id="submit-button" type="submit" value="Submit"class="btn btn-bg-theme white border-radius-20 d-block w-100">
                                    </div>
                                </div>
                            </form>
                        </div>
                        </div>
                    </div>
                {% if featured_blog %}
                    <div class="mt-5">
                        <div class="card pt-3 pl-3 pb-3 pr-3 rounded-bottom rounded-0">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 class="blue-theme mb-0"><strong>Featured Posts</strong></h5>
                                </div>
                            </div>
                        </div>
                         <div class="card pt-3 pl-3 pr-3 rounded-bottom rounded-0 border-top-0">
                            <div class="row">
                            {% for featured_blog in featured_blog %}
                                <div class="col-md-4">
                                    <a href="{% url 'blog_detail' year=featured_blog.published_date|date:'Y' month=featured_blog.published_date|date:'m' date=featured_blog.published_date|date:'d' slug=featured_blog.slug %}" class="">
                                        <div class="">
                                            <img src="{{featured_blog.cover_image.url}}" alt="" class="img-fluid">
                                        </div>
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <a href="{% url 'blog_detail' year=featured_blog.published_date|date:'Y' month=featured_blog.published_date|date:'m' date=featured_blog.published_date|date:'d' slug=featured_blog.slug %}" class="text-decoration-none">
                                        <div class="px-3 px-md-0">
                                            <p class="black-font">{{featured_blog.title}}</p>
                                        </div>
                                    </a>
                                </div>
                                {% endfor %}
                            </div>
                         </div>
                        </div>
                    </div>
                    {% endif %}
            </div>
        </div>
</section>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content bg-dark">
      <div class="modal-header border-bottom-0">
        <h4 class="modal-title pt-4 pl-4 pr-4 pb-3 white" id="exampleModalLongTitle">Your form has been Successfully submitted.</h4>
           <button type="button" class="close white" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
      </div>
      <div class="modal-body pb-5 pt-0">
          <img src="{% static 'dist/assets/images/checked.png' %}" class="mx-auto d-block width-100">
      </div>
    </div>
  </div>
</div>



{% endblock %}


{% block extra_js %}
<script>

 jQuery(document).ready(function() {
       $('#signup').submit(function(e){
           e.preventDefault();
           var data = $("#signup").serializeArray();
            $("#loader").show();

           $.ajax({
               url : "{% url 'api:contact-api:query-create-api' %}",
               data: data,
               type : "POST",
               success : function(data){
                   $(".modal").modal("show");
                   $("#username").val("");
                   $("#newemail").val("");
                   $("#message").val("");
                    $(".errors").hide();
                    $("#loader").hide();
               },
               error: function(data){
                   $("#loader").hide();
                    $('.subs_name').text(data.responseJSON.name[0]);
                    $('.subs_email').text(data.responseJSON.email[0]);
                    $('.subs_message').text(data.responseJSON.message[0]);
               }
           });
       });
   });

</script>

{% endblock extra_js %}
