{% extends 'desklib/base.html' %}

{% block content %}
<section class="margin-top-40">
    <div class="container">
        <div class="row">
            <div class="col-11">
                <h1 class="text-center">{{object.name}}</h1>
                <div class="owl-carousel owl-theme author-carousel">

                </div>
                <p>{{object.description|safe}}</p>
<!--                <img src="{{ object.image_file.url }}" alt="{{object.name}}">-->

                {% for sample in object.samples.all %}
                    <img class="img-fluid resume-img" src="{{ sample.image_file.url }}" alt="{{object.name}}">
                {% endfor %}
                <div class="margin-bottom-20"></div>
            </div>
        </div>
    </div>
</section>

{% endblock %}



