{% extends 'desklib/base.html' %}
{% load staticfiles %}

{% block content %}
<section class="margin-top-40">
      {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
    <div class="container">
        <div class="row margin-bottom-20">
            <div class="col-md-12">
                <h1 class="">{{object.name}}</h1>
                {% comment %}
                <p class="">{{object.description|safe}}</p>
                 {% endcomment %}

</div>
</div>
      <div class="row justify-content-center">
            <div class="col-md-6 mb-2 mb-md-0">
              <div class="card border-0 h-50">
                  <div class="card-body p-0 h-50">
                    <div class="owl-carousel owl-theme author-carousel">
                     {% for sample in object.samples.all %}
                     <img class="img-fluid border" src="{{ sample.image_file.url }}" alt="{{object.name}}">
                    
                      {% endfor %}
               </div>
             </div>
         </div>
     </div>
          <div class="col-md-6">
              <div class="card">
                <div class="card-body">
                        <h5 class="title">Our Sample</h5>
    <!--                    <h4>Our Sample</h4>-->
                        <p class="font-size-15 pb-3">Found the document helpful and relevant, download the document.
                        </p>
                    <div class="text-center">
                        <a href='{{object.pdf_converted_file.url}}' download class="btn text-white bg-blue-theme mt-sm-3 mb-sm-3 mx-auto border-radius-30 btn-lg px-4 py-2">Download</a>
                        <span class="d-block text-center">Or</span>
                        <a href="https://tawk.to/chat/5d52a62677aa790be32eb23b/default" target="_blank" class="btn text-white mx-auto bg-blue-theme mt-sm-3 mb-sm-3 btn-lg border-radius-30 px-4 py-2">Hire Professional</a>
                    </div>
                </div>
              </div>
          </div>
</div>
        <hr>
<!--<div class="row mt-5">-->
<!--    <div class="col-md-4"> -->
<!--      <div class="dropdown">-->
<!--        <a class="btn btn-light" data-toggle="dropdown" href="JavaScript:Void(0);">-->
<!--        <i class="fas fa-share-alt mb-1"></i>-->
<!--        <p class="mb-0 d-inline pl-2">Share</p></a>-->
<!--         <div class="dropdown-menu">-->
<!--             <a class="dropdown-item" href="https://facebook.com/sharer.php?u=http://{{request.get_host}}{% url 'documents:document-view' slug=object.slug %}" target="_blank">Share on Facebook</a>-->
<!--              <a class="dropdown-item" href="https://twitter.com/intent/tweet?url=http://{{request.get_host}}{% url 'documents:document-view' slug=object.slug %}" target="_blank" >Share on Twitter</a>-->
<!--              <a class="dropdown-item" href="https://www.linkedin.com/shareArticle?mini=true&url=http://{{request.get_host}}{% url 'documents:document-view' slug=object.slug %}&title=LinkedIn%20Developer%20Network &summary=My%20favorite%20developer%20program&source=LinkedIn" target="_blank">Share on LinkedIn</a>-->
<!--              <a class="dropdown-item" href="https://web.whatsapp.com/send?text=http://{{request.get_host}}{% url 'documents:document-view' slug=object.slug %}" target="_blank">Share on Whatsapp</a>-->
<!--               <a class="dropdown-item" href="mailto:?subject=Read {{object.title}}  on Scribd&body=I am reading {{object.title}}  on Desklib: https://{{request.get_host}}{% url 'documents:document-view' slug=object.slug %}" target="_blank">Share on Mail</a>-->
<!--                <a class="dropdown-item copy_text" href="https://{{request.get_host}}{% url 'documents:document-view' slug=object.slug %}" target="_blank">Copy Link</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="row mt-4 mb-4">
    <div class="col-md-12"> 
        <p class="text-center">{{object.description|safe}}</p> 
</div>
</div>
</div>
        {% comment %}
                {% for sample in object.samples.all %}
                    <img class="img-fluid resume-img" src="{{ sample.image_file.url }}" alt="{{object.name}}">
                {% endfor %}
        {% endcomment %}
           
</section>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function () {
            $(".author-carousel").owlCarousel({
                items: 1,
                loop: true,
                nav: false,
                dots: false,
                autoplay: true,
                margin: 10,
                stagePadding: 5,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        
                    },
                    400: {
                        items: 1,
                         
                    },
                    768: {
                        items: 1,
                        
                    },
                    992: {
                        items: 1,
                        
                    }
                }
            });

        });
</script>
{% endblock %}
