{% extends 'desklib/base.html' %}


{% block canonical %}
<link rel="canonical" href="https://desklib.com/writing/resume/" />
{% endblock %}

{% block content %}
<section class="mt-0 mb-5 mt-sm-3 mt-md-5">
      {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
    <div class="container">
        <h1 class="text-center pt-0 pt-sm-0">Professional CV writing service </h1>
        <p class="py-2 text-center">Your perfect CV is just a click away. Use our professional resume writing service and get it ready today.</p>
        <div class="row mx-auto">
            {% for resume_sample in resume_sample %}
                <div class="col-md-4">
                    <div class="row sample_card my-2 border-1 bg-light-grey">
                        <div class="col-2 pt-4 text-center"><i class="fa fa-file-alt fa-w-12 fa-2x" aria-hidden="true"></i></div>
                        <div class="col-10 pt-2 pl-3">
                            <a href="{% url 'writing:sample-view' resume_sample.slug %}"><p>{{resume_sample.name}}</p></a>
                            <p class="mb-2">{{resume_sample.get_type_display}}</p>
                        </div>
                    </div>
                </div>
             {% endfor %}
        </div>
    </div>
</section>



<!-- added accordion -->
<section class="pb-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div id="accordion">
                    <div id="cardOne" class="card">
                      <div class="card-header">
                        <a class="card-link" data-toggle="collapse" href="#collapseOne">
                            Why resume is important?
                        </a>
                      </div>
                      <div id="collapseOne" class="collapse show">
                        <div class="card-body">
                            <p>Imagine you are given 6 seconds to make an impression on someone. Seems like a hard task isn't it? This is exactly what your resume has to be like in order to attract the attention of the recruiter. According to a study, hiring managers spend an average time of around 6 seconds on each resume and decide whether they want to shortlist it or not. This means your resume has got only one shot to make an impact on the recruiter's mind. Many professionals ignore the importance of a good resume which can make them miss an opportunity of a lifetime. So basically it is very clear that a good resume is a fundamental need for every professional. It is worth noting that a resume can never enhance your skills but it can definitely create an impact.</p>
                        </div>
                      </div>
                    </div>
                    <div id="cardTwo" class="card">
                      <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                            What makes a good resume?
                      </a>
                      </div>
                      <div id="collapseTwo" class="collapse show">
                        <div class="card-body">
                            <p>It is very important to know what are the key components of a good resume. Two candidates with identical skills can create a different impression on the mind of a recruiter due to different resumes.</p>
                            <p>The two most important components of a resume are format and content. A format is like a picture frame which is the design or template part. It is very important that your resume format is appropriate to your profession or domain to showcase your skills in an effective way. Proper sections and spacing are required for each section in order to make a clear and distinct impression. Infographics can be used to avoid text and make it look clear.</p>
                            <p>Content is the actual picture in the frame. It is very important to use the right choice of words and word length. A concise and point to point detail is always appreciated by employers. Proper headings, subheadings and selective use of bold and italics are required. Our sample formats are a good way to understand what a good resume looks like.</p>
                        </div>
                      </div>
                    </div>
                    <div id="cardThree" class="card">
                      <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                            Why Desklib is the right choice?
                        </a>
                      </div>
                      <div id="collapseThree" class="collapse show">
                        <div class="card-body">
                          <p>Our professional resume writing team comprises of a group of content writers and graphic designers. Each resume is carefully crafted based on your profession and requirements. So our resumes have both creativity and correctness. Our team created a unique resume for everyone which is created after consulting experienced recruiters. </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <ul class="list-group sticky-top">
                    <li class="list-group-item"><a href="#cardOne">Why resume is important?</a></li>
                    <li class="list-group-item"><a href="#cardTwo">What makes a good resume?</a></li>
                    <li class="list-group-item"><a href="#cardThree">Why Desklib is the right choice?</a></li>
                </ul>
            </div>
        </div>
</div>
</section>

{% comment %}
{% for resume_sample in resume_sample %}
{{resume_sample.name}}
{% endfor %}
{% endcomment %}

{% endblock %}