{% extends 'desklib/base.html' %}


{% block content %}
<section class="mt-3 mb-5 mt-sm-3 mt-md-5">
    <div class="container">
        <h1 class="text-center pt-0 pt-sm-0">Resumes samples for everyone</h1>
        <p class="py-2">Preparing to get a good job starts with building a perfect resume. Your resume reflects who you are as a professional. Our team has created sample resumes for everyone who is looking for the perfect format for resume.</p>
        <div class="row mx-auto">
            {% for resume_sample in resume_sample %}
                <div class="col-md-4">
                    <div class="row sample_card my-2 border-1 bg-light-grey">
                        <div class="col-2 pt-4 text-center"><i class="fa fa-file-alt fa-w-12 fa-2x" aria-hidden="true"></i></div>
                        <div class="col-10 pt-2 pl-3">
                            <a href="{% url 'writing:sample-view' resume_sample.slug %}"><p>{{resume_sample.name}}</p></a>
                            <p class="mb-2">{{resume_sample.get_type_display}}</p>
                        </div>
                    </div>
                </div>
             {% endfor %}
        </div>
    </div>
</section>
{% comment %}
{% for resume_sample in resume_sample %}
{{resume_sample.name}}
{% endfor %}
{% endcomment %}

{% endblock %}