{% extends "writing/base.html" %}
{% load meta %}
{% block content %}

<section class="container mt-0 mb-5 mt-sm-3 mt-md-5">
    {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
    <h1 class="text-center">Plagiarism checker with percentage</h1>
    <h5 class="text-center">Desklib offers you to ensure the originality of a text by recognizing possible duplicate plagiarisms with percentage.</h5>
    <br>
    <form action="." method="POST">
        {% csrf_token %}
    <div class="row">
        <div class="col-md mb-2">
            {{form.textarea1}}
        </div>
        <div class="col-md mb-2">
            {{form.textarea2}}
        </div>
    </div>
        <div class="row mt-5">
            <div class="col text-center">
              <button type="submit" class="btn text-white btn-bg-theme border-radius-40">Compare Now</button>
            </div>
          </div>
        </form>

</section>


{% endblock %}
