{% extends "writing/base.html" %}
{% load meta %}
{% block content %}
<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>

<script>

$(document).ready(function () {


$.ajax({
  url: "https://languagetool.org/api/v2/languages",
  dataType: "json",
}).done(function(data) {

$.each(data,function(i,rec) {

$('#setLanguage').append($('<option>', {value:rec['longCode'], text:rec['name']+' ['+rec['longCode']+']'  }));

});

});


});

</script>


<script>



// $(document).on('click','#startEditor',function () {

    // if ( /^\w+?\.github\.io/i.test( window.location.hostname ) ) {
    //     console.log( "HOST1="+window.location.hostname );
    // } else {
    //     console.log( "HOST0="+window.location.hostname );
    // }

tinymce.init({
  selector: "#mytextarea",
  toolbar: 'undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | languagetool',
  height: 700,
  lt_debug: 5,
  lt_lang: "en-US",
  lt_mode: "new_word",
  lt_highlight_click: "right",
  lt_full_message: 0,
  lt_timer: 500,

  plugins: ['code paste'],
  external_plugins: {
    'languagetool': 'https://knowzero.github.io/tinymce4-languagetool/languagetool/plugin.min.js'
  }
});
$('#showNotice').hide();

// });

$(document).on('click','#shMail',function () {
$(this).html( atob(atob('YTI1dmQzcGxjbTk0'))+'@'+atob('eWFob28uY29t') );
});

$(document).on('click','#processManual',function() {
tinymce.get('mytextarea').execCommand( 'mceLTProcess');
});

</script>

<button id="processManual">MANUAL PROCESS</button>

<hr size=1>

{{ form.as_p }}


{% endblock %}
