{% extends "writing/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load meta %}
{% block content %}
<!--<h1>Writing Page</h1>-->
<!--<ul>-->
<!--    <li><a href="{% url 'writing:compare' %}">Compare</a> </li>-->
<!--    <li><a href="{% url 'writing:grammar' %}">Grammar Checker</a> </li>-->
<!--</ul>-->
<section class="container-fluid bg-light-grey">
    {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
        <div class="row pl-5 pb-5 pltb-0">
            <div class="col-md-6 mt-8 pt-md-5 ">
                <h1 class="blue-theme py-1">Say no to bad grammar</h1>
                <h3 class="pb-2">Our free tool will help you remove<br>
                    errors from your content</h3>
                <a href="{% url 'writing:grammar' %}" class="btn text-white bg-blue-theme mt-md-3 mb-3 border-radius-30 px-4 py-2">
                        Check Grammar
                    </a>
            </div>
            <div class="col-md-6">
                <img class="img-fluid pt-3 width-100
                   " src="{% static 'dist/assets/images/bad_grammar.png' %}" alt="plain-img" style="width:85%;">
            </div>
        </div>
</section>
<section class="container pb-4 pt-2">
    <h2 class="text-center py-4">Be a better writer in few minutes</h2>
    <p class="text-center font-size-20">We make sure to help you improve your writing and get better results. Get an edge with error free and superior content</p>
    <div class="row px-sm-5 py-sm-4 px-0 py-0">
        <div class="col-md-4 pt-4 d-flex align-items-stretch">
            <div class="card border-0">
                <img class="card-img-top" src="{% static 'dist/assets/images/Check_for_grammar.png' %}" alt="random1">
                <div class="card-body">
                    <p class="text-center pt-sm-4">Avoid errors and grammatical mistakes in your content in few clicks. Get better grades with improved writing</p>
                    <div class="col text-center">
                          <a href="{% url 'writing:grammar' %}"><button class="btn text-white bg-blue-theme border-radius-20">Check grammar</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-4 d-flex align-items-stretch">
            <div class="card border-0">
                <img class="card-img-top" src="{% static 'dist/assets/images/Compare_texts_for_similarity.png' %}" alt="random2">
                <div class="card-body">
                    <p class="text-center">Compare for similarity between two contents. Check for plagiarism or duplicate content easily using our free tools</p>
                    <div class="col text-center">
                          <a href="{% url 'writing:compare' %}"><button class="btn text-white bg-blue-theme border-radius-20">Compare now</button></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pt-4 d-flex align-items-stretch">
           <div class="card border-0">
            
                <img class="card-img-top" src="{% static 'dist/assets/images/Expert_help_in_proofreading.png' %}" alt="random3">
                <div class="card-body">
                    <p class="text-center">Hire professional content editors for your content. Discuss with us about your requirements and get best content editing services</p>
                    <div class="col text-center">
                          <a href="https://tawk.to/chat/5d52a62677aa790be32eb23b/default" target="_blank"><button class="btn text-white bg-blue-theme border-radius-20">Chat now</button></a>
                    </div>
                </div>
            </div>

        </div>
</div>
</section>
<section class="bg-light-grey">
    <div class="container py-5">
        <h2 class="text-center py-2">Writing a perfect resume</h2>
        <p class="text-center py-2 font-size-20">Find resume samples based on your profile or profession. Hire the best resume creators and create your perfect resume</p>
        <div class="col text-center py-2">
              <a href="{% url 'writing:sample-list-view' %}" class="btn text-white bg-blue-theme border-radius-30 px-4 py-2">Explore samples</a>
        </div>
    </div>
</section>
{% comment %}
<section class="container mt-5 mb-5">
    <h2 class="text-center py-2">Listen what our customers say</h2>
    <div class="row pb-4 pt-4">
        <span><img class="img-responsive" src="{% static 'dist/assets/images/quote.png' %}" alt="quote" style="left:48%; position: absolute; z-index: 2"></span>
    </div>
    <div class="row pb-4">
        <div class="col-md-10 offset-md-1">
            <div class="owl-carousel owl-theme owl-second bg-white border-radius-20 box-shadow-3-3-5-5">

                <div class="row pt-5" style="border: 0px;">
                    <div class="col-md-4">
                            <!-- <p class="card-text"></p>-->
                        <img class="img-responsive mx-auto d-block" src="{% static 'dist/assets/images/Reviews.png' %}" alt="testimonial" style="width:50%;">
                    </div>
                    <div class="col-md-8 pt-2">
                        <p class="pt-4 px-2 pr-4 font-size-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book.</p>
                        <p class="font-weight-500 font-size-20 px-3">Ema Swan</p>
                    </div>
                </div>

                <div class="row pt-5" style="border: 0px;">
                    <div class="col-md-4">
                            <!-- <p class="card-text"></p>-->
                        <img class="img-responsive mx-auto d-block" src="{% static 'dist/assets/images/Reviews.png' %}" alt="testimonial" style="width:50%;">
                    </div>
                    <div class="col-md-8 pt-2">
                        <p class="pt-4 px-2 pr-4 font-size-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book.</p>
                        <p class="font-weight-500 font-size-20 px-3">Ema Swan</p>
                    </div>
                </div>

                <div class="row pt-5" style="border: 0px;">
                    <div class="col-md-4">
                            <!-- <p class="card-text"></p>-->
                        <img class="img-responsive mx-auto d-block" src="{% static 'dist/assets/images/Reviews.png' %}" alt="testimonial" style="width:50%;">
                    </div>
                    <div class="col-md-8 pt-2">
                        <p class="pt-4 px-2 pr-4 font-size-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book.</p>
                        <p class="font-weight-500 font-size-20 px-3">Ema Swan</p>
                    </div>
                </div>

                <div class="row pt-5" style="border: 0px;">
                    <div class="col-md-4">
                            <!-- <p class="card-text"></p>-->
                        <img class="img-responsive mx-auto d-block" src="{% static 'dist/assets/images/Reviews.png' %}" alt="testimonial" style="width:50%;">
                    </div>
                    <div class="col-md-8 pt-2">
                        <p class="pt-4 px-2 pr-4 font-size-15">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                            a type specimen book.</p>
                        <p class="font-weight-500 font-size-20 px-3">Ema Swan</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endcomment %}

{% endblock %}
{% block extra_js %}
<script>
    $(document).ready(function () {
            $(".owl-second").owlCarousel({
                items: 1,
                loop: true,
                nav: false,
                stagePadding: 10,
                dots: true,
                autoplay: true,
                margin: 10,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                    },
                    400: {
                        items: 1,
                    },
                    768: {
                        items: 1,
                    },
                    992: {
                        items: 1,
                    }
                }
            });

        });
</script>
<script>
    $(document).ready(function (){
        $(".writing").addClass("active");
    });
</script>
{% endblock %}
