{% extends "desklib/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
    <section>
        <div class="main-content" id="main0">
            <div class="owl-carousel owl-theme carousel-banner-image">
                <div class="item">
                 <div class="admission-page-banner-image pt-7rem pb-7rem">
                    <div class="container">
                        <div class="row p-4">
                          <div class="col-md-6">
<!--                              <h6 class="text-muted font-size-12 font-weight-bold mt-4 mb-4"><span class="border-bottom">WELCOME TO THE DESKLIB</span></h6>-->
                              <h1 class="white ">Looking for Admission in UK University/College</h1>
                              <p class="mt-3 white pb-5">Get connected to the top UK recruitment agencies and apply for admissions</p>
<!--                              <a href="" class="btn btn-bg-theme text-white px-4 py-2 my-3 border-radius-20">APPLY NOW</a>-->
                      </div>
                  </div>
                </div>
                </div>
                </div>
                <div class="item">
                 <div class="admission-page-banner-image pt-7rem pb-7rem">
                    <div class="container">
                        <div class="row p-4">
                          <div class="col-md-6">
<!--                              <h6 class="text-muted font-size-12 font-weight-bold mt-4 mb-4"><span class="border-bottom">WELCOME TO THE DESKLIB</span></h6>-->
                              <h1 class="white ">Looking for Admission in UK University/College</h1>
                              <p class="mt-3 white pb-5">Get connected to the top UK recruitment agencies and apply for admissions</p>
<!--                              <a href="" class="btn btn-bg-theme text-white px-4 py-2 my-3 border-radius-20">APPLY NOW</a>-->
                      </div>
                  </div>
                </div>
                </div>
                </div>
                <div class="item">
                 <div class="admission-page-banner-image pt-7rem pb-7rem">
                    <div class="container">
                        <div class="row p-4">
                          <div class="col-md-6">
<!--                             <h6 class="text-muted font-size-12 font-weight-bold mt-4 mb-4"><span class="border-bottom">WELCOME TO THE DESKLIB</span></h6>-->
                              <h1 class="white ">Looking for Admission in UK University/College</h1>
                              <p class="mt-3 white pb-5">Get connected to the top UK recruitment agencies and apply for admissions</p>
<!--                              <a href="" class="btn btn-bg-theme text-white px-4 py-2 my-3 border-radius-20">APPLY NOW</a>-->
                      </div>
                  </div>
                </div>
                </div>
                </div>
            </div>
        <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
    </section>
<section class="bg-light-grey">
    <div class="container pt-5 pb-5">
        <div class="row position-relative">
            <div class="col-lg-4 cards-hover ">
                <div class="card bg-blue-theme shadow white border-radius-5 border-0">
                    <div class="card-body">
                        <i class='fas fa-briefcase white font-size-45'></i>
                        <h5 class="d-inline-block pl-3">Homework Help Online</h5>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cards-hover">
                <div class="card bg-light-black shadow white border-radius-5 border-0">
                    <div class="card-body">
                        <i class='fas fa-briefcase white font-size-45'></i>
                        <h5 class="d-inline-block pl-3">Homework Help Online</h5>
                        <hr class="">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 cards-hover">
                <div class="card bg-white shadow border-radius-5 border-0">
                    <div class="card-body">
                        <i class='fas fa-briefcase font-size-45'></i>
                        <h5 class="d-inline-block pl-3">Homework Help Online</h5>
                        <hr>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-top-n6">
            <div class="col-md-6">
<!--                <h6 class="text-muted font-size-12 font-weight-bold mt-4">WHO WE ARE</h6>-->
                <h2 class="">We Provide Online Courses And <strong>Homework Help Solution</strong></h2>
            </div>
            <div class="col-md-6">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
            </div>
        </div>
    </div>
</section>

<section class="pb-5">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-lg-6">
                <div class="position-relative">
                    <img src="{% static 'dist/assets/images/why_choose_us_img.png' %}" alt="image" class="img-fluid">
                </div>
                <div class="position-absolute" style="bottom: 0;margin-bottom: -50px;right: 50px;box-shadow: 0 9px 35px 0 rgba(0,0,0,.07);">
                    <img src="{% static 'dist/assets/images/compare_text.jpg' %}" alt="image" class="img-fluid border-radius-5">
                </div>
            </div>
            <div class="col-lg-6 ml-auto d-flex align-items-center mt-4 mt-md-0">
                <div class="">
<!--                    <h6 class="text-muted font-size-12 font-weight-bold mt-4">CHOOSE YOUR UNIVERSITY</h6>-->
                    <h2 class="">It is a long established fact that a <strong>reader will be distracted.</strong> </h2>
                    <h5 class="font-weight-lighter mt-4">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</h5>
                    <p class="text-muted mt-3">Here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, </p>
                    <ul class="list-unstyled mt-5">
                        <li class="mb-3 text-muted">
                            <i class="far fa-check-circle blue-font font-size-30 mr-4 font-weight-light"></i><span>There are many variations of passages</span>
                        </li>
                        <li class="mb-3 text-muted">
                            <i class="far fa-check-circle blue-font font-size-30 mr-4"></i><span>There are many variations of passages</span>
                        </li>
                        <li class="text-muted">
                            <i class="far fa-check-circle blue-font font-size-30 mr-4"></i><span>There are many variations of passages</span>
                        </li>
                    </ul>
                    <div class="mt-5">
                        <a class="btn btn-bg-theme white px-4 border-radius-20"><span class="d-inline-block">Learn More</span>
<!--                            <i class="fa fa-long-arrow-right fa-lg" aria-hidden="true"></i>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col-md-6">
<!--                <h6 class="text-light-black font-size-12">CHOOSE YOUR UNIVERSITY</h6>-->
                <h2 class="">We Provide Top Universities<br><strong>For Our Students</strong></h2>
            </div>
             <div class="col-md-6">
                 <p class="">Below are some of the universities you can choose and apply for the same.Below are some of the universities you can choose and apply for the same.</p>
             </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="main-content" id="main">
                    <div class="owl-carousel owl-theme owl-carousel1">
                        <div class="item card">
                            <div class="card-body text-center">
                                <h5 class="">Students</h5>
                                <i class='fas fa-briefcase font-size-50 mt-3 mb-3'></i>
                                <p class="">Get connected to the top UK recruitment agencies and apply for admissions</p>
                          </div>
                </div>
                <div class="item card">
                            <div class="card-body text-center">
                              <h5 class="">Students</h5>
                                <i class='fas fa-briefcase font-size-50 mt-3 mb-3'></i>
                              <p class="">Get connected to the top UK recruitment agencies and apply for admissions</p>
                            </div>
                </div>
                <div class="item card ">
                          <div class="card-body text-center">
                              <h5 class="">Students</h5>
                              <i class='fas fa-briefcase font-size-50 mt-3 mb-3'></i>
                              <p class="">Get connected to the top UK recruitment agencies and apply for admissions</p>
                          </div>
                </div>
            </div>
<!--        <div class="owl-theme">-->
<!--                <div class="owl-controls">-->
<!--                    <div class="custom-nav owl-nav"></div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container pb-5 pt-5">
        <div class="shadow border-radius-5">
         <div class="row">
            <div class="col-md-5">
                <div>
                    <img src="{% static 'dist/assets/images/study-image.jpg' %}" alt="image" class="img-fluid">
                </div>
            </div>
            <div class="col-md-7 ml-auto d-flex align-items-center">
                <div class="ml-4">
                    <h2>Online Courses Are Available Here</h2>
                    <p class="">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    <div class="">
                        <a class="btn btn-bg-theme white px-4 border-radius-20">View More</a>
                    </div>
                </div>
            </div>
        </div>
         </div>
    </div>
</section>
<section class="">
    <div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Choose <strong>Your Country</strong></h2>
<!--            <p class="text-center py-2">Provide us with your details and get in touch with top consultancies for your desired colleges.</p>-->
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="black-font text-decoration-none"><h5 class="card-title text-center">United States</h5></a>
                        <p class="card-text text-center text-muted">Provide your details along with your course</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="black-font text-decoration-none"><h5 class="card-title text-center">United Kingdom</h5></a>
                        <p class="card-text text-center text-muted">Provide your details along with your course</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="black-font text-decoration-none"><h5 class="card-title text-center">Australia</h5></a>
                        <p class="card-text text-center text-muted">Provide your details along with your course</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="black-font text-decoration-none"><h5 class="card-title text-center">Canada</h5></a>
                        <p class="card-text text-center text-muted">Provide your details along with your course</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<section class="bg-light">
    <div class="container pt-5 pb-5">
        <div class="row position-relative">
            <div class="col-md-6">
                <h2 class="">About Our <strong>Happy students</strong></h2>
                <div class="main-content" id="owl-main">
                    <div class="owl-carousel owl-theme owl-carousel-admission">
                        <div class="item bg-light">
                            <div class="d-flex">
                                <div class="d-inline-block mt-4 width-80px">
                                    <span>
                                    <img src="{% static 'dist/assets/images/Reviews.png' %}" alt="image" class="card-img-top">
                                    </span>
                                </div>
                                <div class="d-inline-block ml-4 margin-top-40">
                                    <h6> Menka Singh</h6>
                                    <h6>India</h6>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                        <div class="item bg-light">
                            <div class="d-flex">
                                <div class="d-inline-block mt-4 width-80px">
                                    <span>
                                    <img src="{% static 'dist/assets/images/Reviews.png' %}" alt="image" class="card-img-top">
                                    </span>
                                </div>
                                <div class="d-inline-block ml-4 margin-top-40">
                                    <h6> Menka Singh</h6>
                                    <h6>India</h6>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 line-height">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                        </div>
                    </div>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                         </div>
                    </div>
                </div>
            </div>
             <div class="col-md-6">
                 <div class="admission-banner-img position-absolute">
                     <div class="pt-15rem pb-15rem"></div>
                 </div>
             </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="d-flex">
                    <div class="d-inline-block mt-5 mb-5">
                        <div class="border-6 rounded-circle pt-4 pb-4 pl-3 pr-3">
                            <div class="p-2 font-weight-bold">85%</div>
                        </div>
                    </div>
                    <div class="d-inline-block ml-4 pt-5rem">
                        <span>Our Satisfied</span>
                        <span>Students</span>
                    </div>
                 </div>
            </div>
            <div class="col-md-3">
                <div class="d-flex">
                    <div class="d-inline-block mt-5 mb-5">
                        <div class="border-6 rounded-circle pt-4 pb-4 pl-3 pr-3">
                            <div class="p-2 font-weight-bold">85%</div>
                        </div>
                    </div>
                    <div class="d-inline-block ml-4 pt-5rem">
                        <span>Our Satisfied</span>
                        <span>Students</span>
                    </div>
                 </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
</section>
<section class="">
    <div class="container py-5">
    <div class="row">
        <div class="col-md-6">
            <h2 class="">We Provide Homework Help <strong>Solution Online</strong></h2>
        </div>
        <div class="col-md-6">
            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="text-decoration-none"><h5 class="card-title black-font">Homework Help For All Stream Subjects And Courses</h5></a>
<!--                        <a href="" class="btn btn-bg-theme px-4 border-radius-20 white d-block">View More</a>-->
                         <a href="">View More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="text-decoration-none"><h5 class="card-title black-font">Homework Help For All Stream Subjects And Courses</h5></a>
                        <a href="">View More</a>
<!--                        <a href="" class="btn btn-bg-theme px-4 border-radius-20 white d-block">View More</a>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
            <div class="h-100">
                <div class="card shadow h-100 border-0">
                    <img src="{% static 'dist/assets/images/img4.png' %}" alt="image" class="card-img-top">
                    <div class="card-body">
                        <a href="" class="text-decoration-none"><h5 class="card-title black-font">Homework Help For All Stream Subjects And Courses</h5></a>
                        <a href="">View More</a>
<!--                        <div class="text-center">-->
<!--                            <a href="" class="btn btn-bg-theme px-4 border-radius-20 white d-block">View More</a>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
  $("#main0 .owl-carousel").owlCarousel({
    autoplay:true,
    nav: true,
    loop: true,
    dots: false,
    items:1,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
   navContainer: '#main0 .custom-nav',
    });

$('.owl-carousel-admission .owl-carousel').owlCarousel({
    autoplay:true,
    stagePadding: 20,
    nav: true,
    dots:false,
    loop: true,
    items:1,
    margin: 50,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
    navContainer: '.owl-carousel-admission .custom-nav.admission-owl-nav',
    responsive:{
        0:{
            items: 1
        },
        600:{
            items: 2
        },
        768:{
            items: 3
        }
    }
});
});

$('#main .owl-carousel1').owlCarousel({
    autoplay:true,
    stagePadding: 10,
    nav: true,
    dots:false,
    loop: true,
    margin: 25,
    autoplayHoverPause: true,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
    navContainer: '#main .custom-nav',
    responsive:{
        0:{
            items: 1
        },
        576:{
            items: 2
        },
        768:{
            items: 3
        },
        1000:{
            items: 4
        }
    }
});

$('#owl-main .owl-carousel-admission').owlCarousel({
    autoplay:true,
    stagePadding: 10,
<!--    nav: true,-->
    dots:false,
    loop: true,
    margin: 25,
    autoplayHoverPause: true,
<!--    navText: [-->
<!--        '<i class="fa fa-angle-left" aria-hidden="true"></i>',-->
<!--        '<i class="fa fa-angle-right" aria-hidden="true"></i>'-->
<!--    ],-->
<!--    navContainer: '#main .custom-nav',-->
    responsive:{
        0:{
            items: 1
        }
<!--        576:{-->
<!--            items: 2-->
<!--        },-->
<!--        768:{-->
<!--            items: 3-->
<!--        },-->
<!--        1000:{-->
<!--            items: 4-->
<!--        }-->
    }
});
</script>
{% endblock %}
