{% extends "desklib/base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<section class="container py-5">
        <div class="row text-center">
            <div class="col-md-12">
                <img class="img-fluid" src="{% static 'dist/assets/images/thumps-up.svg' %}" width="11%;">
                	 <p class="pt-2 font-size-30 text-center">You are already subscribed.</p>
            </div>
        </div>
	
	    <div class="row text-center">
	   	  <div class="col-md-12">
	   		<p>Go back to the home, <a href="/" class="">click here</a></p>
	   	</div>
	   </div>
</section>
<section class="container mb-5">
        <div class="row">
            <div class="col-md-6 mb-sm-3 mb-lg-0 mb-3">
                <div class="yellow p-4 p-gl-5 p-15 rounded">
                    <h2 class="font-40">Discover resources similar to your homework problems</h2>
                    <a href="{% url 'study:study-search'%}">
                    <button class="btn btn-primary btn-bg-theme mt-3 mt-lg-5 mb-lg-2 border-radius-40 px-4">
                        Study
                    </button>
                    </a>
                </div>
            </div>
            <div class="col-md-6 mb-sm-3 mb-lg-0 mb-3">
                <div class="green p-4 p-gl-5 p-15 rounded">
                    <h2 class="font-40">Remove errors and improve your writing skills instantly</h2>
                    <a href="{% url 'writing:writing' %}">
                    <button class="btn btn-primary btn-bg-theme mt-3 mt-lg-5 mb-lg-2 border-radius-40 px-4">
                        Writing
                    </button>
                    </a>
                </div>
            </div>
    </div>
</section>

{% endblock %}