{% load staticfiles %}
{% load meta %}
{% load render_json_ld from json_ld %}

<html lang="en" >
<head  {% meta_namespaces %}>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "meta/meta.html" %}
    <link rel="stylesheet" href='{% static "dist/css/bootstrap.css" %}'>
    {% if sd %}
    {% render_json_ld sd %}
    {% endif %}

</head>
<body>
    {% block navbar %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script src='{% static "dist/js/bundle.js" %}'></script>
    {% block extra_js %}
    {% endblock %}
</body>
</html>