{% load staticfiles %}
<footer class="grey-theme">
    <div class="container-fluid padding-top-30 padding-bottom-30">
        <div class="row footer-row">
            <div class="col-md-9 col-sm-6 pl-6">
                <ul class="list-inline text-center">
                    <li class="list-inline-item font-size-20 white pr-6"><a class="white" href="{% url 'about' %}">About</a></li>
                    <li class="list-inline-item font-size-20 white pr-6"><a class="white" href="javascript:void(0);">Support</a></li>
                    <li class="list-inline-item font-size-20 white pr-6"><a class="white" href="javascript:void(0);">Help</a></li>
                    <li class="list-inline-item font-size-20 white pr-6"><a class="white" href="{% url 'contact' %}">Contact Us</a></li>
                </ul>

            </div>

            <div class="col-md-3 col-sm-6 pr-6">
                <ul id="copyright" class="list-inline text-center">
                    <li class="list-inline-item font-size-20 white px-1 "><a href="https://www.linkedin.com/company/desklib/"><img src="{% static '/src/assets/images/Linkedin.png' %}"></a></li>
                    <li class="list-inline-item font-size-20 white px-1"><a href="https://www.facebook.com/desklib/"><img src="{% static '/src/assets/images/Facebook.png' %}"></a></li>
                    <li class="list-inline-item font-size-20 white px-1"><a href="https://twitter.com/Desklibcom"><img src="{% static '/src/assets/images/Twitter.png' %}"></a></li>
                    <li class="list-inline-item font-size-20 white px-1 "><a href="https://www.instagram.com/desklib/"><img src="{% static '/src/assets/images/instagram.png' %}"></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!--<div class="col-md-2">-->
<!--                <p class="font-size-20 text-center white">About</p>-->
<!--            </div>-->
<!--            <div class="col-md-2">-->
<!--                <p class="font-size-20 text-center white">Support</p>-->
<!--            </div>-->
<!--            <div class="col-md-2">-->
<!--                <p class="font-size-20 text-center white">Help</p>-->
<!--            </div>-->
<!--            <div class="col-md-2">-->
<!--                <p class="font-size-20 text-center white">Contact Us</p>-->
<!--            </div>-->

<!--            <div class="col-md-4">-->
<!--                <div id="copyright" class="padding-top-10 text-center">-->
<!--                    <a  class="footer-icon-img padding-10"  href="https://www.linkedin.com"><img src="{% static '/src/assets/images/Linkedin.png' %}"></a>-->
<!--                    &lt;!&ndash; <a  class="footer-icon-img" href="https://www.instagram.com"><img src="{% static '/src/assets/images/search icon.png' %}"></a> &ndash;&gt;-->
<!--                    <a  class="footer-icon-img padding-10" href="https://www.facebook.com"><img src="{% static '/src/assets/images/Facebook.png' %}"></a>-->
<!--                    <a  class="footer-icon-img padding-10" href="https://www.twitter.com"><img src="{% static '/src/assets/images/Twitter.png' %}"></a>-->
<!--                    &lt;!&ndash; <p class="copyright-c">© 2017-{% now 'y' %} Desklib. All rights reserved</p> &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->