{% load staticfiles %}
{% load meta %}
{% load render_json_ld from json_ld %}

<!DOCTYPE html>
<html lang="en" >
<head {% meta_namespaces %}>
    <meta charset="utf-8">
<!--  {%comment %}  <title>{% block title %}{% endblock %}{% endcomment %}</title>-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include "meta/meta.html" %}
        <link rel="stylesheet" href='{% static "dist/css/bundle.css" %}'>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap" rel="stylesheet">

    <!-- <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Open+Sans:300,400,600,700,800|Poppins:100,200,300,400,500,600,700,800,900|Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> -->
    <link rel="shortcut icon" href="{% static 'dist/assets/images/favicon.ico' %}">
    {% block canonical %}
    {% endblock %}
    <title>
    {% block head_title %}
    {% endblock %}
        </title>
    {% if sd %}
    {% render_json_ld sd %}
    {% endif %}

    {% block json_ld %}
    {% endblock %}

    {% block extra_css %}
    {% endblock extra_css %}

</head>
<body>

    {% block navbar %}
        {% include 'desklib/base_header.html' %}
    {% endblock %}

    <main class="height-100">
        {% block content %}
        This page is under progress.
        {% endblock %}
    </main>

    {% block footer %}
        {% include 'desklib/base_footer.html' %}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://twitter.github.io/typeahead.js/js/handlebars.js"></script>
    <script src='{% static "dist/js/bundle.js" %}'></script>

    {% block extra_js %}
    {% endblock extra_js %}

            {% block chat %}
            {% if not debug %}

            {% include 'desklib/chat_tawkto.html' %}

            {% endif %}
            {% endblock %}


            {% block google_analytics %}
            {% if not debug %}

            {% include 'desklib/analytics.html' %}

			{% endif %}
            {% endblock %}
</body>
</html>