{% load staticfiles %}

<!--<header class="header"> &lt;!&ndash;-    header-scrolled  &ndash;&gt;-->

<!--    <div class="container">-->
<!--        <div class="float-left padding-top-20">-->
<!--            <img class="img-responsive" src="{% static '/src/assets/images/Desklib.png' %}" alt="logo">-->
<!--        </div>-->


<header>
<nav class="navbar navbar-expand-lg fixed-top">
  <a class="navbar-brand" href="/"><img class="img-responsive" src="{% static '/src/assets/images/Desklib.png' %}" alt="logo" style="border: 0"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active mr-4">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item mr-4">
        <a class="nav-link" href="{% url 'study:study-search'%}">Study</a>
      </li>

<!--        <li class="nav-item dropdown">-->
<!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStudy" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--          Study Resource-->
<!--        </a>-->
<!--        <div class="dropdown-menu" aria-labelledby="navbarDropdownStudy">-->
<!--          <a class="dropdown-item" href="{% url 'study:study-search'%}">Explore Documents</a>-->
<!--&lt;!&ndash;          <a class="dropdown-item" href="{% url 'writing:compare' %}">Compare Documents</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--&lt;!&ndash;          <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--        </div>-->
<!--      </li>-->
      <li class="nav-item dropdown mr-4">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWriting" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Writing
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownWriting">
          <a class="dropdown-item" href="{% url 'writing:grammar' %}">Grammar Check</a>
          <a class="dropdown-item" href="{% url 'writing:compare' %}">Compare Documents</a>
<!--          <div class="dropdown-divider"></div>-->
<!--          <a class="dropdown-item" href="#">Something else here</a>-->
        </div>
      </li>
<!--      <li class="nav-item">-->
<!--        <a class="nav-link disabled" href="#">Disabled</a>-->
<!--      </li>-->
        <li class="nav-item float-right mr-4">
            <form id="form" class="form-inline my-2 my-lg-0" action="{% url 'study:search-results' %}">
                <div class="input-group mb-3">
                  <input type="text" id="id_q" name="q" class="form-control" placeholder="Search a topic or subject" aria-label="Search here" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button"><i class="fa fa-search rounded-circle"></i></button>
                  </div>
                </div>
        <!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
        <!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            </form>
        </li>


        <li class="nav-item mr-4">
          <a class="nav-link" href="{% url 'account_login'%}">Sign in / up</a>
        </li>
        <li class="nav-item float-right">
          <button class="btn btn-primary">Subscribe</button>
        </li>
    </ul>
  </div>
</nav>
</header>

<!--      <nav class="navbar navbar-expand-md navbar-light">-->
<!--          <a class="navbar-brand" href="/"><img class="img-responsive padding-bottom-20" src="{% static '/src/assets/images/Desklib.png' %}" alt="logo"></a>-->
<!--          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">-->
<!--            <span class="navbar-toggler-icon"></span>-->
<!--          </button>-->
<!--          <div class="collapse navbar-collapse" id="collapsibleNavbar">-->
<!--            <ul class="navbar-nav ml-auto">-->
<!--                <li class="nav-item active padding-right-20 font-size-20 font-weight-400"><a class="nav-link" href="/">Home</a></li>-->
<!--                <li class="nav-item drop-down padding-right-20 font-size-20 font-weight-400">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown1" data-toggle="dropdown" href="javascript:void(0);">Study Resorce</a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">-->
<!--                        <li><a class="dropdown-item" href="{% url 'study:study-search'%}">Explore Resources</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item drop-down padding-right-20 font-size-20 font-weight-400">-->
<!--                    <a class="nav-link dropdown-toggle" id="navbarDropdown2" data-toggle="dropdown" href="{% url 'writing:writing' %}">Writing</a>-->
<!--                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown2">-->
<!--                        <li><a class="dropdown-item" href="{% url 'writing:compare' %}">Compare</a></li>-->
<!--                        <li><a class="dropdown-item" href="javascript:void(0);">Grammar Checker</a></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--                <li class="nav-item drop-down padding-right-20 font-size-20 font-weight-400 blue-font"><a class="nav-link blue-font" href="javascript:void(0);">Sign in/up</a>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" href="javascript:void(0);"><button class="btn-lg btn-primary btn-bg-theme-nav">-->
<!--                    Subscribe-->
<!--                </button></a>-->
<!--                </li>-->
<!--            </ul>-->
<!--          </div>-->
<!--        </nav>-->


<!--        <nav class="main-nav float-right d-none d-lg-block">-->
<!--        <ul>-->
<!--          <li class="active"><a href="/">Home</a></li>-->
<!--          <li class="drop-down"><a href="{% url 'writing:writing' %}">Writing</a>-->
<!--          <ul>-->
<!--              <li><a href="{% url 'writing:compare' %}">Compare</a></li>-->
<!--              <li><a href="#">Grammar Checker</a></li>-->
<!--          </ul>-->
<!--          </li>-->
<!--          <li class="drop-down"><a href="">Study Resorce</a>-->
<!--            <ul>-->
<!--            <li><a href="{%url 'study:study-search'%}">Explore Resources</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" href="#"><button class="btn-lg btn-primary btn-bg-theme">-->
<!--                    Subscribe-->
<!--                </button></a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </nav>&lt;!&ndash; .main-nav &ndash;&gt;-->

<!--    </div>-->
<!--  </header>-->


<!--
<nav class="navbar navbar-expand-md bg-transparent nav-fixed-top">
  <a class="navbar-brand" href="/"><img src="{% static '/src/assets/images/Desklib.png' %}" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <img src="{% static '/src/assets/images/menu.png' %}" alt="menu-icon">
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item black-font">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
          Study Resources
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
         Writing
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item blue-font">
        <a class="nav-link" href="#">Sign in/up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button class="btn-lg btn-primary btn-bg-theme">
                Subscribe
            </button></a>
      </li>
    </ul>
  </div>
</nav>

</body>-->
<!--</html>-->