{% load staticfiles %}
<footer class="footer grey-theme pt-4 pb-4">
    <div class="container p-4">
        <div class="row footer-row pt-3 pb-md-4 pb-2">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <h5 class="white">Subjects</h5>
                                  <div class="pt-3 h-75">
                                        <ul class="footer-ul font-size-15">
                                            {% for sub in parent_subjects %}
                                            <li><a class="text-light-black text-decoration-none" href="{% url 'subjects:parent-subject-view' sub.slug %}">{{sub}}</a></li>
                                        {% endfor %}
                                        </ul>
                                  </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="row">
                                    <div class="col-md-12">
                                          <h5 class="white">Pages</h5>
                                          <div class="pt-3 h-75">
                                              <ul class="footer-ul font-size-15">
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'homework_help:ask-question-view' %}">Homework Help</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'study:study-search' %}">Study</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'writing:writing' %}">Writing</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'blog' %}"> Blog </a></li>
                                                  <!--                                                    <li class=""><a class="text-light-black text-decoration-none" href="{% url 'home' %}">Home</a></li>-->
                                                  <!--                                    <li class=""><a class="text-light-black text-decoration-none" href="{% url 'about' %}">About</a></li>-->
                                                  <!--                                    <li class=""><a class="text-light-black text-decoration-none" href="{% url 'contact' %}">Contact Us</a></li>-->
                <!--                                    <li class=""><a class="text-light-black text-decoration-none" href="{% url 'subscription' %}">Plans</a></li>-->
                <!--                                    <li class=""><a class="text-light-black text-decoration-none" href="{% url 'blog' %}">Blogs</a></li>-->
                                              </ul>
                                          </div>
                                    </div>
                                    <div class="col-md-12">
                                          <div class="pt-3 h-75">
                                              <h5 class="white pb-3">Support</h5>
                                              <ul class="footer-ul font-size-15">
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'about' %}">About Us</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'contact' %}"> Contact Us</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'copyright' %}">Copyright</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'termsofuse' %}">Terms Of Use</a></li>
                                                  <li class=""><a class="text-light-black text-decoration-none" href="{% url 'privacypolicy' %}">Privacy Policy</a></li>
                                              </ul>
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 mt-240px">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h5 class="white">Tools</h5>
                                         <div class="pt-3">
                                             <ul class="footer-ul font-size-15">
                                                <li class=""><a class="text-light-black text-decoration-none" href="{% url 'writing:grammar' %}">Grammar Checker</a></li>
                                                <li class=""><a class="text-light-black text-decoration-none" href="{% url 'writing:compare' %}">Plagiarism Checker</a></li>
                                                <li class=""><a class="text-light-black text-decoration-none" href="{% url 'writing:sample-list-view' %}">Resume Writing</a></li>
                                             </ul>
                                         </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="social_media white d-inline-block mt-md-3 ml-sm-5 ml-md-0 pt-3">
                                            <h5 class="white d-md-inline-block d-sm-inline-block pb-3">Follow Us</h5>
                                            <ul class="ml-0 font-size-15 mb-0 mb-4">
                                                 <li class="d-inline-block mr-3 mr-md-3 pt-3 pt-md-0"><a href="https://www.facebook.com/desklib/"> <i class="fab fa-facebook"></i> </a></li>
                                                <li class="d-inline-block mr-3 mr-md-3 pt-3 pt-md-0"><a href="https://www.instagram.com/desklib/"> <i class="fab fa-instagram"></i> </a></li>
                                                <li class="d-inline-block mr-3 mr-md-3 pt-3 pt-md-0"><a href="https://www.pinterest.com/desklib/"> <i class="fab fa-pinterest"></i> </a></li>
                                                <li class="d-inline-block mr-3 mr-md-3 pt-3 pt-md-0"><a href="https://www.reddit.com/desklib/"> <i class="fab fa-reddit-alien"></i> </a></li>
<!--                                                <li class="d-inline-block mr-3 mr-md-3 pt-3 pt-md-0"><a href="https://www.linkedin.com/company/desklib/"><img src="{% static 'dist/assets/images/Linkedin.png' %}" alt="linked_in icon" class="img-fluid" /></a></li>-->
<!--                                                <li class="d-inline-block mr-3 mr-md-3 pt-3 pt-md-0"><a href="https://twitter.com/Desklibcom"><img src="{% static 'dist/assets/images/Twitter.png' %}" alt="twitter icon" class="img-fluid" /></a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 col-sm-12 white font-size-15">
                            <h5 class="white"> <a href="https://web.whatsapp.com/" class="white"> <i class="fa fa-whatsapp text-success pr-2"></i> +1-312 97 5479 </a></h5>
                            <p class="pt-3 mb-4"> Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam </p>
<!--                            <p class="pt-3 mt-5 mb-3"> 10:00 AM - 6:00 PM (EST), Monday - Friday SEMrush Inc. 800 Boylston Street Suite 2475 Boston, MA 02199 </p>-->

<!--                            <button class="btn btn_common btn_blue pl-4 pr-4 pt-3 pb-3"> Get Started with Desklib Library! </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row pt-lg-2 pt-0">
            <div class="col-md-12">
                <div class="text-light-black d-inline-block font-size-15">
                    <div class="d-inline-block">
                        <i class="far fa-copyright fa-x text-white">&nbsp;{% now "Y" %}</i>
                        | <span>Zucol Services Pvt. Ltd. | All rights reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
