{% load staticfiles %}

<header id="header" class="header-scrolled">

    <div class="container">

      <div class="logo float-left">
        <!-- Uncomment below if you prefer to use an image logo -->
        <h1 class="text-light"><a href="/" class="scrollto"><img src="{% static '/src/assets/images/Desklib.png' %}" alt="logo"></a></h1>
        <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li class="drop-down"><a href="{% url 'writing:writing' %}">Writing</a>
          <ul>
              <li><a href="{% url 'writing:compare' %}">Compare</a></li>
              <li><a href="#">Grammar Checker</a></li>
          </ul>
          </li>
          <li class="drop-down"><a href="">Study Resorce</a>
            <ul>
            <li><a href="{%url 'study:study-search'%}">Explore Resources</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><button class="btn-lg btn-primary btn-bg-theme">
                    Subscribe
                </button></a>
          </li>
        </ul>
      </nav><!-- .main-nav -->

    </div>
  </header>


<!--
<nav class="navbar navbar-expand-md bg-transparent nav-fixed-top">
  <a class="navbar-brand" href="/"><img src="{% static '/src/assets/images/Desklib.png' %}" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <img src="{% static '/src/assets/images/menu.png' %}" alt="menu-icon">
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item black-font">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
          Study Resources
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
         Writing
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Link 1</a>
          <a class="dropdown-item" href="#">Link 2</a>
          <a class="dropdown-item" href="#">Link 3</a>
        </div>
      </li>
      <li class="nav-item blue-font">
        <a class="nav-link" href="#">Sign in/up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><button class="btn-lg btn-primary btn-bg-theme">
                Subscribe
            </button></a>
      </li>
    </ul>
  </div>
</nav>

</body>-->
<!--</html>-->

