{% extends "desklib/base.html" %}
{% load meta %}

{% block canonical %}
<link rel="canonical" href="https://desklib.com/contact/" />
{% endblock %}

{% block content %}


<div class="container pt-2 pb-4 py-md-5">
	  {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
<div class="row">
	<div class="col-md-12">
		 <h1 class="border-bottom pb-2">Contact Us</h1>
	</div>
</div>
<div class="row pt-4">
	<div class="col-md-6">
	  <div class="row mt-lg-5">
		<div class="col-md-6">
			<h6>Customer support:</h6>
		</div>
		<div class="col-md-6">
			<a class="nav-link p-0" href="mailto:info@desklib.com">info@desklib.com</a>
		</div>
	</div>
	<div class="row mt-3 border-top pt-3">
			<div class="col-md-6">
				<h6>By Mail:</h6>
			</div>
			<div class="col-md-6">
			 <p> <strong>Octal Services Ltd.</strong><br>68 CIRCULAR ROAD <br>#02-01 SINGAPORE (049422) <br><br>12 Station St E, Coventry CV6 5FJ, <br/> United Kingdom</br></p>
			</div>
	</div>
</div>

	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7977.625400420358!2d103.84914!3d1.286433!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xee160de8e67a5a25!2s%23Foodcoholic!5e0!3m2!1sen!2sus!4v1567321034591!5m2!1sen!2sus" style="border:0;" allowfullscreen="" class="w-100 h-100 box-shadow-3-3-5-5 border-radius-5 border-8"></iframe>
	
</div> 
</div>
</div>

{% endblock %}
