{% extends "desklib/base.html" %}
{% load staticfiles %}
   
{% block content %}
<section class="error-404-bg-img pb-md-5 pt-md-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5 offset-md-1 mt-md-5">
				<h3 class="font-size-130 orange-font ml-md-5 mt-md-5 pt-md-5 text-center">404</h3>
				<p class="blue-theme font-size-25 mt-n4 ml-md-5 text-center">page not found sorry for inconvenience </p>
				<p class="ml-md-5 text-center"> Back to
        			<a href="{% url 'home' %}">home</a>
      			</p>
			</div>
			<div class="col-md-6 order-first order-md-6 mt-md-5 mt-0 mt-md-5">
				<img class="img-fluid ml-md-5rem mt-md-5 pt-md-5" src="{% static 'dist/assets/images/Error-404.png' %}" alt="image-Error-404">
		</div>
</div>
</div>
</section>

{% endblock %}



