{% extends "desklib/base.html" %}
{% load meta %}
{% load i18n %}
{% load thumbnail %}
{% load highlight %}



{% block navbar %}
    {% include 'desklib/base_header.html' %}
{% endblock %}
{% block content %}
<h1>Home</h1>
{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>
{% endif %}

<ul>
    <li><a href="{% url 'writing:writing' %}">writing</a> </li>
    <li><a href="{% url 'writing:compare' %}">Compare</a> </li>
    <li><a href="{% url 'writing:grammar' %}">Grammar Checker</a> </li>
</ul>
<form method="get" action="." class="form" role="form">
        {{ form.non_field_errors }}
        <div class="form-group">
                {{ form.as_p }}
        </div>
       {% if query %}
            <h3>Results</h3>

        <div class="container-fluid bg-4 text-left">
                <div class="row">
                    {% for result in page_obj.object_list %}
                <div class="col-sm-4">
                  <a href="{% url 'documents:document-view' result.slug %}">
                    <div class="form-group">
                            {% thumbnail result.cover_image "80x80" crop="80% top" as im %}
                                <img src="{{ im.url }}">
                            {% empty %}
                                <h4>No image</h4>
                            {% endthumbnail %}
                        {% highlight result.summary with query html_tag "span" css_class "highlight" max_length 120 %}
                        <p>Total No of pages:{{result.no_of_pages}}  </p>
                    </div>
                  </a>
                </div>
                </div>
                {% empty %}
             {% endfor%}
             {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
                </div>
        </div>

        {% endif %}
</form>
<div class="jumbotron">
    <div class="container">
        <h1>{% trans "Welcome to TaskBuster!"%}</h1>
        <p>{% blocktrans %}TaskBuster is a simple Task manager that helps you organize your daylife. </br> You can create todo lists, periodic tasks and more! </br></br> If you want to learn how it was created, or create it yourself!, check www.django-tutorial.com{% endblocktrans %}</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
</div>
{% endblock %}
