{% extends "desklib/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Subscription Page" %}{% endblock %}

{% block content %}
<div class="container text-center py-4">
      {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin box-shadow-3-3-5-5">
                <div class="card-body my-2">
                    <h4>Payment Cancelled</h4>
                    <hr>
                    <p>{{ user.username }} your payment has been cancelled, click <a href="/">here</a> to go to the home page.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}