{% extends 'desklib/base.html' %}
{% load meta %}
{% block content %}
<section class="">
    <div class="container py-2">
		<div class="row">
            <div class="col-sm-9 mx-auto">
                <h4 class="py-1 text-center" id="">Payment Details</h4>
                <p>Your payment details are -</p>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td class="w-25"><p>Plan type: </p></td>
                                <td class="w-25 text-right"><p><strong>{{plan.package_name}} </strong></p></td>
                            </tr>
                            <tr>
                                <td class="w-25"><p>Available views: </p></td>
                                <td class="w-25 text-right"><p><strong> {{plan.view_limit}} </strong></p></td>
                            </tr>
                            <tr>
                                <td class="w-25"><p>Available downloads: </p></td>
                                <td class="w-25 text-right"><p><strong> {{plan.download_limit}} </strong></p></td>
                            </tr>
                            <tr>
                                <td class="w-25"><p>Days: </p></td>
                                <td class="w-25 text-right"><p><strong> {{plan.days}} </strong></p></td>
                            </tr>
                            <tr>
                                <td class="w-25"><p>Price: </p></td>
                                <td class="w-25 text-right"><p><strong> {{plan.price}} </strong></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <form action="{{form.get_endpoint}}" method="post">
                    {% csrf_token %}


                    {{form.as_p}}
                    <div class="form-group">
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" id="gridCheck" required>
                          <label class="form-check-label" for="gridCheck">
                              &nbsp;Terms of use, Privacy Policy
                          </label>
                        </div>
                    </div>

                            &nbsp;<label class="v-align-m" for="{{form.id_check}}" id="id_check"> {{form.check.label}}</label>
                        <div class="col text-center">
                            <input id="submit" type="image" src="{{form.get_image}}" border="0" name="submit" alt="Buy it Now" type="submit" disabled="disabled" />
<!--                            <button class="btn btn-primary btn-bg-theme border-radius-40" type="submit">Pay now</button>-->
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% comment %}
    <div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
				<div class="card card-signin box-shadow-3-3-5-5 my-2">
					<div class="card-body">
                        <h4 class="py-1 text-center" id="head_banner">Payment Details</h4>
                        <p>Your payment details are -</p>
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <tbody>
                                    <tr>
                                        <td class="w-25"><p>Plan type: </p></td>
                                        <td class="w-25"><p><strong> {{subscription.plan}} </strong></p></td>
                                    </tr>
                                    <tr>
                                        <td class="w-25"><p>Available views: </p></td>
                                        <td class="w-25"><p><strong> {{subscription.plan.views}} </strong></p></td>
                                    </tr>
                                    <tr>
                                        <td class="w-25"><p>Available downloads: </p></td>
                                        <td class="w-25"><p><strong> {{subscription.plan.downloads}} </strong></p></td>
                                    </tr>
                                    <tr>
                                        <td class="w-25"><p>Days: </p></td>
                                        <td class="w-25"><p><strong> {{subscription.plan.days}} </strong></p></td>
                                    </tr>
                                    <tr>
                                        <td class="w-25"><p>Price: </p></td>
                                        <td class="w-25"><p><strong> {{subscription.plan.price}} </strong></p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form action="." method="POST">
                            {% csrf_token %}
                            {{form.as_p}}
                                    &nbsp;<label class="v-align-m" for="{{form.id_issue}}" id="id_issue"> {{form.issue.label}}</label>
                                <div class="col text-center">
                                    <button class="btn btn-primary btn-bg-theme border-radius-40" type="submit">Pay now</button>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

Pay Now Page
<div class="loader">
</div>
    {{ form.render }}
{% endcomment %}
{% endblock %}
{% block extra_js %}
<script>
// To enable/disable pay now button
document.getElementById('gridCheck').addEventListener('click', function (e) {
  document.getElementById('submit').disabled = !e.target.checked;
});

</script>
    {% endblock extra_js %}
