{% load staticfiles %}

<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center pb-5">Reviews of our users</h1>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="testimonial_box mt-4">
                    <p class="text-justify">I would like to thank Desklib library. That’s really a great platform for online study resources. I got the best solutions for my assignment.</p>
                    <div class="row pt-3">
                        <div class="col-md-6 review_profile"><img src="{% static 'src/assets/images/v2/profile_1.svg' %}" class="border-radius-12 float-right" alt="client image" /> <span> Charles Boyle </span> </div>
                        <div class="col-md-6 review_rating d-flex justify-content-end"> 3.3 &nbsp; <img class="image-radius aligncenter" src="{% static 'src/assets/images/v2/star_rating.svg' %}" alt="client stars image" /> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="testimonial_box mt-4">
                    <p class="text-justify">Homework and assignments solutions at Desklib.com are the best. I personally feel that they have such an excellent collection of study resources. I'll surely visit this place again.</p>
                    <div class="row pt-3">
                        <div class="col-md-6 review_profile"><img src="{% static 'src/assets/images/v2/profile_2.svg' %}" class="border-radius-12 float-right" alt="client image" /> <span> Gina Lannety </span> </div>
                        <div class="col-md-6 review_rating d-flex justify-content-end"> 3.3 &nbsp; <img class="image-radius aligncenter" src="{% static 'src/assets/images/v2/star_rating.svg' %}" alt="client stars image" /> </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="testimonial_box mt-4">
                    <p class="text-justify">I would like to thank Desklib library. That’s really a great platform for online study resources. I got the best solutions for my assignment.</p>
                    <div class="row pt-3">
                        <div class="col-md-6 review_profile"><img src="{% static 'src/assets/images/v2/profile_3.svg' %}" class="border-radius-12 float-right" alt="client image" /> <span> Dug Judey </span> </div>
                        <div class="col-md-6 review_rating d-flex justify-content-end"> 3.3 &nbsp; <img class="image-radius aligncenter" src="{% static 'src/assets/images/v2/star_rating.svg' %}" alt="client stars image" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>