{% extends "desklib/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Subscription Page" %}{% endblock %}
{% block content %}
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      {% for plan in plan_qs %}
      <div class="col-md-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{plan.package_name}}</h5>
            <h6 class="card-price text-center">{{plan.price}} USD<span class="period">/month</span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>{{plan.download_limit}} Download Limit</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>{{plan.view_limit}} View limit</li>

            </ul>
            <a href="{% url 'paynow' key=plan.key%}" class="btn btn-block btn-primary text-uppercase">Subscribe Now</a>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- Plus Tier -->
      <!-- Pro Tier -->
    </div>
  </div>
</section>
{% endblock %}