{% extends "desklib/base.html" %}
{% load i18n %}
{% load account %}
{% block head_title %}{% trans "Subscription Page" %}{% endblock %}
{% block content %}
  <section class="pricing py-5">
    <div class="container">
   {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
      <div class="row d-flex justify-content-center">
        <!-- Free Tier -->
        {% for plan in plan_qs %}
        <div class="col-md-4 mb-3 mb-md-0 mt-3 mt-md-0">
          <div class="card mb-lg-0 box-shadow-3-3-5-5">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">{{plan.package_name}}</h5>
              <h6 class="card-price text-center">{{plan.price}} USD<span class="period">/{{plan.days}} Days</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Single User</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{plan.download_limit}} Download Limit</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>{{plan.view_limit}} View limit</li>

              </ul>
              <a href="{% url 'paynow' key=plan.key%}" class="btn btn-block text-white text-uppercase btn-bg-theme">Subscribe Now</a>
            </div>
          </div>
        </div>
        {% endfor %}
        <!-- Plus Tier -->
        <!-- Pro Tier -->
      </div>
    </div>
  </section>
{% endblock %}