{% load staticfiles %}

<section class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center pb-5"> Our Happy Testimonials </h1>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="testimonial_box mt-4">
                    <p class="text-justify">They are fast in responding to homework questions. they have the best technical writers. Thanks for helping me with my programming doubts.</p>

                    <div class="row pt-3">
                        <div class="col-md-6 review_profile"><img src="{% static 'src/assets/images/v2/profile_2.svg' %}" class="border-radius-12 float-right" alt="student" /> <span> Dyana </span> </div>
                        <div class="col-md-6 review_rating d-flex justify-content-end"> 5 &nbsp; <img class="image-radius aligncenter" src="{% static 'src/assets/images/v2/star_rating.svg' %}" alt="stars image" /> </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="testimonial_box mt-4">
                    <p class="text-justify">I contact to disklib for homework, they help me out, despite there was some technical issue they gone through extra mile for me and provide me good quality work in first priority. 100% recommended. </p>
                    <div class="row pt-3">
                        <div class="col-md-6 review_profile"><img src="{% static 'src/assets/images/v2/profile_3.svg' %}" class="border-radius-12 float-right" alt="studying on laptop" /> <span> Asif Waheed </span> </div>
                        <div class="col-md-6 review_rating d-flex justify-content-end"> 5 &nbsp; <img class="image-radius aligncenter" src="{% static 'src/assets/images/v2/star_rating.svg' %}" alt="stars image" /> </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-lg-4">
                <div class="testimonial_box mt-4">
                    <p class="text-justify">Desklib's study resources are best & unique. Their study database is easy to access and easy to use. <br /> 100 % recommended.</p>
                    <div class="row pt-3">
                        <div class="col-md-6 review_profile"><img src="{% static 'src/assets/images/v2/profile_1.svg' %}" class="border-radius-12 float-right" alt="library and students" /> <span> Mike Taylor </span> </div>
                        <div class="col-md-6 review_rating d-flex justify-content-end"> 5 &nbsp; <img class="image-radius aligncenter" src="{% static 'src/assets/images/v2/star_rating.svg' %}" alt="stars image" /> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>