{% extends "desklib/base.html" %}
{% load staticfiles %}
{% load meta %}
{% load render_json_ld from json_ld %}
{% load thumbnail %}

{% block canonical %}
<link rel="canonical" href="https://desklib.com/study/" />
{% endblock %}

    {% block extra_css %}

    {% endblock extra_css %}
{% block content %}
<section class="container-fluid banner-image-study">
     {% block messages %}
     {% if messages %}
        <div>
            <ul>
            {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{message}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
 {% endblock %}
    <div class="row pl-5 pt-10 pltb-0">
          <div class="col-md-6 mt-8">
      </div>
        <div class="col-md-6 mt-8">
            <h1 class="blue-theme py-2">Best resources for your studies</h1>
            <h3 class="pb-2">Search from over 2 million study documents</h3>
<!--            <div class="mb-3">-->
                <form class="form-inline my-2 my-lg-0" action="{% url 'study:search-results' %}">
<!--          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-secondary rounded-circle" type="submit"><i class="fa fa-search rounded-circle"></i></button>-->
                    <div class="input-group w-75 mb-3 flex-fill tt-input-group" id="remote">
                        <input type="text" name="q" class="typeahead form-control form-control-lg search-input box-shadow-3-3-5-5 border-radius-30" placeholder="Search here...">
                        <div class="input-group-append">
                          <button class="btn btn-lg rounded-circle search-bg-body" type="submit"><i class="fa fa-search rounded-circle search-icon"></i></button>
                        </div>
                    </div>
                </form>

<!--            <form class="form-inline my-2 my-lg-0" action="{% url 'study:search-results' %}">-->
<!--                <div class="form-group w-75 mb-3">-->
<!--                      <input type="text" name="q" class="form-control search-input box-shadow-3-3-5-5" placeholder="Search a topic or subject" aria-label="Search here" aria-describedby="basic-addon2">-->
<!--                      <div class="input-group-append">-->
<!--                          <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>-->
<!--                      </div>-->
<!--                </div>-->

<!--&lt;!&ndash;              <input type="text" class="form-control form-rounded" placeholder="Search a topic or subject" aria-label="Recipient's username" aria-describedby="basic-addon2">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </form>-->
<!--              <div class="input-group-append">-->
<!--                <i class="fa fa-search"></i>-->
<!--              </div>-->
<!--            </div>-->
            <p class="pt-1 pb-5">Eg: marketing plan, database design</p>
<!--            <p class="text-center">or</p>-->
<!--            <p class="text-center"><a href="#">Upload a document</a></p>-->

        </div>
<!--        <div class="col-md-5 mt-8 float-right" style="margin-top: 8%;">-->
<!--            <h6>Search from 10 million study resources</h6>-->
<!--            <div class="mb-3">-->
<!--            <form class="form-inline my-2 pt-3  my-lg-0" action="{% url 'study:search-results' %}">-->
<!--                <div class="form-group w-75 mb-1">-->
<!--                      <input type="text" name="q" class="form-control search-input box-shadow-3-3-5-5" placeholder="Search a topic or subject" aria-label="Search here" aria-describedby="basic-addon2">-->
<!--                      <div class="input-group-append">-->
<!--                          <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>-->
<!--                      </div>-->
<!--                </div>-->

<!--&lt;!&ndash;              <input type="text" class="form-control form-rounded" placeholder="Search a topic or subject" aria-label="Recipient's username" aria-describedby="basic-addon2">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </form>-->
<!--&lt;!&ndash;              <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="row mt-0">-->
<!--                <div class="col-md-3"></div>-->
<!--                <div class="col-md-6">-->
<!--                    <p class="pt">or <span style="color:#405FBD">Upload a document</span></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--        </div>-->
    </div>
</section>

<!--  <link rel="stylesheet" href="/resources/demos/style.css">  -->
<!--    <style>-->
<!--        .highlight{-->
<!--            background-color: #FFFF00-->
<!--            }-->
<!--    </style>-->

    {% comment %}<!--    {%for subject in facets.fields.subjects|slice:":5" %}-->
<!--    <input id="check" type="checkbox" name="selected_facets" value="subjects_exact:{{ subject.0|urlencode }}">{{subject.0}}<br>-->
<!--    <input type="hidden" name="q" value="123">-->

<!--{% endfor %}-->
{% endcomment %}
<section class="container pt-5 pb-4">
    <h2 class="text-center pb-4">Explore By Subjects</h2>
    <div class="row mb-3">
        {% for p in parent %}
    <div class="col-sm-6 col-md-4">
        {% if not p.parent_subject %}
                {% if object.info_graphic_image %}
                  <img src="{{ object.info_graphic_image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid width-50px h-auto">
                   {% elif object.image %}
                 <img src="{{ object.image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid width-50px h-auto">
                  {% endif %}
                 <h4>
                 <a href="{% url 'subjects:parent-subject-view' p.slug %}" class="card-title black-font">{{ p }}</a> </h4>

                    {% for child in p.subject_set.all %}
                    <h5>
                    <a class="card-link blue-theme" href="{% url 'subjects:child-subject-view' p.slug child.slug %}">
                        {{child}}
                    </a>
                </h5>
                     <span class="d-block text-muted font-size-12 pb-4">
                        {% for c in doc_count %}
                            {% if c.name == child.name %}
                                {{c.doc_subject}} documents
                            {% endif %}
                        {% endfor %}
                    </span>
                    {% endfor %}
        {% endif %}

    </div>
    {% endfor %}
</div>
        <!-- <div class="card-columns">
<section class="container pt-5 pb-4">
    <h2 class="text-center pb-4">Explore By Subjects</h2>
    <div class="row mb-3">
        {% for p in parent %}
    <div class="col-sm-6 col-md-4">
        {% if not p.parent_subject %}
                {% if object.info_graphic_image %}
                  <img src="{{ object.info_graphic_image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid width-50px h-auto">
                   {% elif object.image %}
                 <img src="{{ object.image.url }}" alt="{{ image_alt_text.title }}" class="img-fluid width-50px h-auto">
                  {% endif %}
                 <h4>
                 <a href="{% url 'subjects:parent-subject-view' p.slug %}" class="card-title black-font">{{ p }}</a> </h4>

                    {% for child in p.subject_set.all %}
                    <h5>
                    <a class="card-link blue-theme" href="{% url 'subjects:child-subject-view' p.slug child.slug %}">
                        {{child}}
                    </a>

                </h5>
                     <span class="d-block text-muted font-size-12 pb-4">
                        {% for c in doc_count %}
                            {% if c.name == child.name %}
                                {{c.doc_subject}} documents
                            {% endif %}
                        {% endfor %}
                    </span>
                    {% endfor %}
        {% endif %}

    </div>
    {% endfor %}
</div>
        <!-- <div class="card-columns">
		{% for p in parent %}

            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title">{{ p }}</h5>
                    {% for child in p.subject_set.all %}
                    <a class="card-link mr-4 ml-0" href="{% url 'study:search-results' %}?q=&amp;selected_facets=subjects_exact:{{child.slug}}">
						{{child}}
						</a>
                    {% endfor %}

              </div>
            </div>
		{% endfor %}
            </div> -->

	</section>
    {% if top_results %}
  <section class="container-fluid pt-5 pb-5 bg-light">
    <h2 class="text-center">Top Study Documents</h2>
        <div class="main-content" id="main0">
            <div class="owl-carousel owl-theme mt-4">
                {% for top in top_results %}
                <div class="item h-350">
                <div class="main-div shadow mt-2 h-350 border-radius-12">
                    <a href="{% url 'documents:document-view' top.slug %}" class="h-350 d-inline-block w-100">
                    <img class="card-img-top" src="{{top.cover_image}}" alt="documents image">
                 </a>
                 <a href="{% url 'documents:document-view' top.slug %}" class="text-decoration-none">
                 <div class="card-body inner-div bg-light">
                     <h6 class="card-title blue-theme">{{top.title|truncatechars:40}}</h6>
                     <small class="text-muted">{{top.no_of_pages}}</small>
                     <small class="text-muted add-dash">pages</small>
                     <small class="text-muted">{{top.no_of_words}}</small>
                     <small class="text-muted add-dash">words</small>
                     <small class="text-muted">{{top.pub_date|date:"d M Y"}}</small>
                     <small class="text-muted pt-2 btn-d-none">{{top.description|safe|truncatechars:60}}</small>
                     <a href="{% url 'documents:document-view' top.slug %}" class="btn btn-bg-theme border-radius-20 btn-d-none text-white mt-3 mb-3 pt-1 pb-1">View document</a>
                 </div></a>
        </div>
    </div>

                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
    </div>
</section>
{% endif %}

    {% if recent %}
     <section class="container-fluid mt-0 pt-5 pb-5 bg-white">
         <h2 class="text-center">Recently uploaded documents</h2>
        <div class="main-content" id="main">
            <div class="owl-carousel owl-theme mt-4 owl-carousel1 ">
              {% for rec in recent %}
                <div class="item bg-white h-350">
                    <div class="main-div shadow mt-2 h-350 border-radius-12">
                    <a href="{% url 'documents:document-view' rec.slug %}" class="h-350 d-inline-block w-100">
                    <img class="card-img-top" src="{{rec.cover_image}}" alt="documents image">
                 </a>
                 <a href="{% url 'documents:document-view' rec.slug %}" class="text-decoration-none">
                 <div class="card-body inner-div bg-light">
                     <h6 class="card-title blue-theme">{{rec.title|truncatechars:40}}</h6>
                     <small class="text-muted">{{rec.no_of_pages}}</small>
                     <small class="text-muted add-dash">pages</small>
                     <small class="text-muted">{{rec.no_of_words}}</small>
                     <small class="text-muted add-dash">words</small>
                     <small class="text-muted">{{rec.pub_date|date:"d M Y"}}</small>
                     <small class="text-muted pt-2 btn-d-none">{{rec.description|safe|truncatechars:60}}</small>
                     <a href="{% url 'documents:document-view' rec.slug %}" class="btn btn-bg-theme border-radius-20 btn-d-none text-white mt-3 mb-3 pt-1 pb-1">View document</a>
                 </div></a>
        </div>
    </div>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>

</section>
{% endif %}

    <section class="container-fluid pt-5 bg-light pb-5">
         <h2 class="text-center">Our Subscription Includes</h2>
                <div class="row text-center mt-4">
                    <div class="col-md-4 col-sm-12">
                        <img class="mb-4" src="{% static 'dist/assets/images/unlimited views.png' %}" alt="unlimited views icon"/>
                        <p>Complete document content accessible from anywhere anytime</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img class="mb-4" src="{% static 'dist/assets/images/Downloads icon.png' %}" alt="no of downloads icons"/>
                        <p>Document downloads by sending it directly to your email</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img class="mb-4" src="{% static 'dist/assets/images/Documents icon.png' %}" alt="Total no of documents icon"/>
                        <p>Access to complete library with over 2 million documents</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <a class="btn text-white btn-bg-theme btn-lg border-radius-40" href="{% url 'subscription' %}">Try Now</a>
                </div>
    </section>

{% for subject in subjects %}
<a href="{% url 'study:search' %}?selected_facets=subjects_exact:{{ subject.slug }}">{{ subject.name }}</a>
{% endfor %}
{% endblock %}
          {% block extra_js %}
 <script>
$('#main0 .owl-carousel').owlCarousel({
    autoplay:true,
    stagePadding: 10,
    nav: true,
    dots:false,
    loop: true,
    margin: 25,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
    navContainer: '#main0 .custom-nav',
    responsive:{
        0:{
            items: 1
        },
        576:{
            items: 2
        },
        768:{
            items: 3
        },
        1000:{
            items: 3
        },
        1200:{
            items: 4
        }
    }
});

$('#main .owl-carousel1').owlCarousel({
    autoplay:true,
    stagePadding: 10,
    nav: true,
    dots:false,
    loop: true,
    margin: 25,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
    navContainer: '#main .custom-nav',
    responsive:{
        0:{
            items: 1
        },
        576:{
            items: 2
        },
        768:{
            items: 3
        },
        1000:{
            items: 3
        },
        1200:{
            items: 4
        }
    }
});


$('#form').submit(function (event) {
  var tempArray = [];
  var count = 1
      $('input:checked[name="selected_facets"]').each(function(e) {
         var el = '<input type="hidden" name="selected_facets" value=""></input>';
          $('.selected_facets').val($(this).val());
          $('#form').append(el);
         
      tempArray.push('selected_facets=subjects_exact:'+$(this).val());
            });

  });


</script>
<script>
    $(document).ready(function (){
        $(".study").addClass("active");
    });
</script>
    {% endblock extra_js %}

