{% extends "desklib/base.html" %}
{% load staticfiles %}
{% load meta %}
{% load render_json_ld from json_ld %}
{% load thumbnail %}

    {% block extra_css %}

    {% endblock extra_css %}
{% block content %}
<section class="container-fluid banner-image-study">
    <div class="row pl-5 pt-10 pltb-0">
          <div class="col-md-6 mt-8">
      </div>
        <div class="col-md-6 mt-8">
            <h1 class="blue-theme py-2">Best resources for your studies</h1>
            <h3 class="pb-2">Search from over 2 million study documents</h3>
<!--            <div class="mb-3">-->
                <form class="form-inline my-2 my-lg-0" action="{% url 'study:search-results' %}">
<!--          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--          <button class="btn btn-outline-secondary rounded-circle" type="submit"><i class="fa fa-search rounded-circle"></i></button>-->
                    <div class="input-group w-75 mb-3 flex-fill tt-input-group" id="remote">
                        <input type="text" name="q" class="typeahead form-control form-control-lg search-input box-shadow-3-3-5-5 border-radius-30" placeholder="Search here...">
                        <div class="input-group-append">
                          <button class="btn btn-lg rounded-circle btn-outline-secondary" type="submit"><i class="fa fa-search rounded-circle"></i></button>
                        </div>
                    </div>
                </form>

<!--            <form class="form-inline my-2 my-lg-0" action="{% url 'study:search-results' %}">-->
<!--                <div class="form-group w-75 mb-3">-->
<!--                      <input type="text" name="q" class="form-control search-input box-shadow-3-3-5-5" placeholder="Search a topic or subject" aria-label="Search here" aria-describedby="basic-addon2">-->
<!--                      <div class="input-group-append">-->
<!--                          <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>-->
<!--                      </div>-->
<!--                </div>-->

<!--&lt;!&ndash;              <input type="text" class="form-control form-rounded" placeholder="Search a topic or subject" aria-label="Recipient's username" aria-describedby="basic-addon2">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </form>-->
<!--              <div class="input-group-append">-->
<!--                <i class="fa fa-search"></i>-->
<!--              </div>-->
<!--            </div>-->
            <p class="pt-1 pb-5">Eg: marketing plan, database design</p>
<!--            <p class="text-center">or</p>-->
<!--            <p class="text-center"><a href="#">Upload a document</a></p>-->

        </div>
<!--        <div class="col-md-5 mt-8 float-right" style="margin-top: 8%;">-->
<!--            <h6>Search from 10 million study resources</h6>-->
<!--            <div class="mb-3">-->
<!--            <form class="form-inline my-2 pt-3  my-lg-0" action="{% url 'study:search-results' %}">-->
<!--                <div class="form-group w-75 mb-1">-->
<!--                      <input type="text" name="q" class="form-control search-input box-shadow-3-3-5-5" placeholder="Search a topic or subject" aria-label="Search here" aria-describedby="basic-addon2">-->
<!--                      <div class="input-group-append">-->
<!--                          <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>-->
<!--                      </div>-->
<!--                </div>-->

<!--&lt;!&ndash;              <input type="text" class="form-control form-rounded" placeholder="Search a topic or subject" aria-label="Recipient's username" aria-describedby="basic-addon2">&ndash;&gt;-->
<!--&lt;!&ndash;              <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                <button class="btn btn-outline-secondary rounded-circle" type="button"><i class="fa fa-search"></i></button>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </form>-->
<!--&lt;!&ndash;              <div class="input-group-append">&ndash;&gt;-->
<!--&lt;!&ndash;                <i class="fa fa-search"></i>&ndash;&gt;-->
<!--&lt;!&ndash;              </div>&ndash;&gt;-->
<!--            </div>-->
<!--            <div class="row mt-0">-->
<!--                <div class="col-md-3"></div>-->
<!--                <div class="col-md-6">-->
<!--                    <p class="pt">or <span style="color:#405FBD">Upload a document</span></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="col-md-6">-->
<!--        </div>-->
    </div>
</section>

<!--  <link rel="stylesheet" href="/resources/demos/style.css">  -->
<!--    <style>-->
<!--        .highlight{-->
<!--            background-color: #FFFF00-->
<!--            }-->
<!--    </style>-->

    {% comment %}<!--    {%for subject in facets.fields.subjects|slice:":5" %}-->
<!--    <input id="check" type="checkbox" name="selected_facets" value="subjects_exact:{{ subject.0|urlencode }}">{{subject.0}}<br>-->
<!--    <input type="hidden" name="q" value="123">-->

<!--{% endfor %}-->
{% endcomment %}
	<section class="container pt-5">
        <h2 class="text-center">Explore By Subjects</h2>
        <div class="card-columns">
		{% for p in parent %}

            <div class="card border-0">
              <div class="card-body">
                <h5 class="card-title">{{ p }}</h5>
                    {% for child in p.subject_set.all %}
                    <a class="card-link mr-4 ml-0" href="{% url 'study:search-results' %}?q=&amp;selected_facets=subjects_exact:{{child.slug}}">
						{{child}}
						</a>
                    {% endfor %}

              </div>
            </div>
		{% endfor %}
            </div>
	</section>
    {% if top_results %}
  <section class="container-fluid pt-5 pb-5 bg-light">
    <h2 class="text-center">Top Study Documents</h2>
        <div class="main-content" id="main0">
            <div class="owl-carousel owl-theme mt-4">
                {% for top in top_results %}
                <a href="{% url 'documents:document-view' top.slug %}" class="h-100 d-inline-block w-100">
                    <div class="item shadow bg-white rounded h-100">
                        <div class="card h-100">
                            <img class="card-img-top card-height" src="{{top.cover_image}}" alt="Card image">
                            <div class="card-body">
                                <p class="card-text">{{top.title|truncatechars:25}}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>
  </section>

    {% endif %}
    {% if recent %}
     <section class="container-fluid mt-0 pt-5 pb-5 bg-white">
         <h2 class="text-center">Recently uploaded documents</h2>
        <div class="main-content" id="main" >
            <div class="owl-carousel owl-theme mt-4 owl-carousel1 ">
              {% for rec in recent %}
                        <a href="{% url 'documents:document-view' rec.slug %}" class="h-100 d-inline-block w-100">
                            <div class="item shadow h-100 bg-white rounded">
                                <div class="card h-100">
                                    <img class="card-img-top card-height" src="{{rec.cover_image}}" alt="Card image">
                                    <div class="card-body">
                                            <p class="card-text">{{rec.title|truncatechars:25}}</p>
                                    </div>
                                </div>
                            </div>
                         </a>
                {% endfor %}
            </div>
            <div class="owl-theme">
                <div class="owl-controls">
                    <div class="custom-nav owl-nav"></div>
                </div>
            </div>
        </div>

<!--           <div><p class="text-center font-size-20 font-weight-400 padding-bottom-30"><a href="#">View all</a></p></div>-->
</section>
{% endif %}

    <section class="container-fluid pt-5 bg-light padding-bot">
         <h2 class="text-center">Our Subscription Includes</h2>
                <div class="row text-center mt-4">
                    <div class="col-md-4 col-sm-12">
                        <img class="mb-4" src="{% static 'src/assets/images/unlimited views.png' %}" alt="unlimited views icon"/>
                        <p>Complete document content accessible from anywhere anytime</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img class="mb-4" src="{% static 'src/assets/images/Downloads icon.png' %}" alt="no of downloads icons"/>
                        <p>Document downloads by sending it directly to your email</p>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <img class="mb-4" src="{% static 'src/assets/images/Documents icon.png' %}" alt="Total no of documents icon"/>
                        <p>Access to complete library with over 2 million documents</p>
                    </div>
                </div>
                <div class="d-flex justify-content-center mt-4">
                    <a class="btn btn-primary btn-bg-theme btn-lg border-radius-40" href="{% url 'subscription' %}">Try Now</a>
                </div>
    </section>
	
{% for subject in subjects %}
<a href="{% url 'study:search' %}?selected_facets=subjects_exact:{{ subject.slug }}">{{ subject.name }}</a>
{% endfor %}
{% endblock %}
          {% block extra_js %}
 <script>
$('#main0 .owl-carousel').owlCarousel({
    autoplay:true,
    stagePadding: 50,
    loop: true,
    margin: 10,
    nav: true,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
    navContainer: '#main0 .custom-nav',
    responsive:{
        0:{
            items: 2
        },
        600:{
            items: 4
        },
        1000:{
            items: 6
        }
    }
});

$('#main .owl-carousel1').owlCarousel({
    autoplay:true,
    stagePadding: 50,
    loop: true,
    margin: 10,
    nav: true,
    navText: [
        '<i class="fa fa-angle-left" aria-hidden="true"></i>',
        '<i class="fa fa-angle-right" aria-hidden="true"></i>'
    ],
    navContainer: '#main .custom-nav',
    responsive:{
        0:{
            items: 2
        },
        600:{
            items: 4
        },
        1000:{
            items: 6
        }
    }
});


$('#form').submit(function (event) {
  var tempArray = [];
  var count = 1
      $('input:checked[name="selected_facets"]').each(function(e) {
         var el = '<input type="hidden" name="selected_facets" value=""></input>';
          $('.selected_facets').val($(this).val());
          $('#form').append(el);
         
      tempArray.push('selected_facets=subjects_exact:'+$(this).val());
            });

  });

   $('#id_q').autocomplete({
 source: function (request, response) {
     $.getJSON("/study/autocomplete/?q=" + request.term, function (data) {
         response($.map(data, function (value, key) {
             return {
                label: value,
                value: key
             };
         }));
     });
 },
 minLength: 1
});

</script>
<script>
    $(document).ready(function (){
        $(".study").addClass("active");
    });
</script>
    {% endblock extra_js %}

