{% extends "desklib/base.html" %}
{% load i18n %}
{% block head_title %}{% trans "payment" %}{% endblock %}
{% block content %}
<section class="pt-5 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2 class="text-center">Select a Plan</h2>
				<p class="text-center">Access our library by selecting appropriate plans.
				</p>
			</div>
		</div>
		
		{% for plan in plan_qs %}	
		<div class="row justify-content-center">
			<div class="col-sm-12 col-md-9 col-lg-6">
				<div class="card mb-2 mt-2 payment-card-box">
					<label class="d-block">
					<div class="card-body">
						<h5 class="">{{plan}}</h5>
						<span class="">
						<input class="selected_plan d-none" type="radio" name="radio" value="{{ plan.price }}" data-key="{{plan.key}}"><!-- {{plan}} -->
					</span>
						<span class="">		
							<span class="">{{plan.view_limit}}</span>
							<span class="">Views</span>
						</span>
						
						<span class="d-block">
							<span class="">{{plan.download_limit}}</span>
							<span class="">downloads</span>
						</span>
						<span class="float-right mt-n5">
						<span>${{plan.price}} per</span>
						<span>{{plan.days}}</span>
						<span>days</span>
						</span>	
			</div>
		</label>
		</div>
	</div>
</div>
{% endfor %}

{% comment %}
<!-- {% for plan in plan_qs %}
	<h1>{{plan.price}}</h1>
	<input class="selected_plan" type="radio" name="radio" value="{{ plan.price }}" data-key="{{plan.key}}">{{plan}} -->

<!-- <input type="radio" name="radio" value="{{ plan.key }}" onClick="document.getElementById('id_custom').value=this.value">{{plan}}</input>-->

	<!-- {% endfor %} -->
{% endcomment %}

<!-- <form action="{{form.get_endpoint}}" method="post" id="form-check"> -->
<form action="{{form.get_endpoint}}" method="post" id="form-check">
{% csrf_token %}
{{form}}
 	<input id="id_custom" name="custom" type="hidden" value=""/>
	<input id="id_amount" name="amount" type="hidden"  value=""/>
	<div class="row justify-content-center mt-4">	
		<div class="col-md-9 col-lg-5">
			<input type="checkbox" name="checkbox" id="check-box" class="checkbox" id="check-box" required>
				<label class="blue-theme d-sm-inline" for="check-box" class="blue-theme">&nbsp;I agree to the <a href="{% url 'termsofuse' %}">terms & conditions</a>, <a href="{% url 'privacypolicy' %}"> privacy policy</a>, <a href="{% url 'academicintegrity' %}">Academic Integrity</a>, <a href="{% url 'honorcode' %}">Honor Code</a> and <a href="{% url 'copyright' %}">Copyright</a>

				</label>
		</div>
</div>
	<div class="row justify-content-center mt-4">
		
	 	<div class="col-lg-5 text-center">
			<input type="submit" value="Proceed with Paypal" class="btn btn-bg-theme border-radius-20 text-white px-sm-5 px-4" id="submit">
		</div>
	</div>
	<!-- <input alt="Buy it Now" border="0" id="submit" name="submit" src="https://www.paypal.com/en_US/i/btn/btn_subscribeCC_LG.gif" type="image"/> -->
	</form>
	</div> 
</section>

{% endblock %}

 {% block extra_js %}
<script>
  $( document ).ready(function() {
	$(".selected_plan").on("click", function(){
 	if ($("input[type='radio']").is(":checked")) {

 	key= $(this).data("key");
	value = $(this).val();
 	$("#id_custom").val("{{ user }}_" + key +"_{{doc}}");
	$("#id_amount").val(value);
 }
});


});	
</script>

 {% endblock extra_js %}