{% extends 'desklib/base.html' %}
{% load meta %}

{% block extra_css %}
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="loader"></div>
    </div>

      {% block messages %}
    {% if messages %}
        <div>
            <ul class="notification-right">
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
<div class="container pb-2 ">
  <div class="row pt-0 pt-sm-5">
      <div class="col-sm-8 mycontent-left">
          <h5 class="text-center">Download Document</h5>
                <hr>
                <p>You are about to download this document, document will be sent on you email. Please review the following details:</p>
                <p>Are you sure you want to continue?</p>
                <div class="table-responsive">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="w-50"><p>Plan type: </p></td>
                            <td class="w-50 text-right"><p><strong> {{subscription.plan}} </strong></p></td>
                        </tr>
                        <tr>
                            <td class="w-50"><p>Validity: </p></td>
                            <td class="w-50 text-right"><p><strong> {{subscription.expire_on.date}} </strong></p></td>
                        </tr>
                        <tr>
                            <td class="w-50"><p>Total downloads: </p></td>
                            <td class="w-50 text-right"><p><strong> {{subscription.plan.download_limit}} </strong></p></td>
                        </tr>
                        <tr>
                            <td class="w-50"><p>Downloads Remaining: </p></td>
                            <td class="w-50 text-right"><p><strong> {{remaining_downloads}} </strong></p></td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <form action="." method="post">
                    {% csrf_token %}
                        <div>

                            <input class="form-control" id="id_file" name="file" type="hidden" value="{{document.slug}}">
          {{form.captcha}}
                            {{form.issue}}
                            &nbsp;<label class="form-check-label" for="id_issue"> I agree to <a href="{% url 'termsofuse' %}">Terms of use</a> & <a href="{% url 'privacypolicy' %}">Privacy Policy</a> </label>
                        </div>
                        <div class="col text-center">
                          <button class="btn text-white btn-bg-theme border-radius-40" type="submit">Download now</button>
                        </div>
                </form>
                <!-- <p class="text-muted pt-2">*Document will be sent on you email.</p> -->
      </div>
      <aside class="col-sm-4">
            <h5 class="text-center">Selected Document</h5>
            <hr>
            <img class="img-fluid" src="{{ image.url }}" alt="{{ image.name }}">
            <p class="mt-2"><strong>{{ document.title }}</strong></p>
                <div class="table-responsive">
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <td class="w-50"><p>Number of pages: </p></td>
                                <td class="w-50 text-right"><p><strong> {{document.pages.all.count}} </strong></p></td>
                            </tr>
                            <tr>
                                <td class="w-50"><p>Number of words: </p></td>
                                <td class="w-50 text-right"><p><strong> {{document.words}} </strong></p></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <hr>
            <div class="text-center">
                <a href="https://tawk.to/chat/5d52a62677aa790be32eb23b/default"><button class="btn text-white btn-bg-theme mt-2 border-radius-40">Chat now</button></a>
            </div>
      </aside>
  </div>
</div>
{% comment %}
    <section class="container border-radius-40 p-5 py-5">
        <div class="row">
            <div class="col-md mb-2 border-radius-20 border border-primary download-info p-4 mx-auto mr-md-1 mb-sm-1">
                <h5 class="text-center">Download Document</h5>
                <hr>
                <p>You are about to download this document, are you sure you want to continue?</p>
                <p>Please review the following details:</p>
                <div class="table-responsive">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td class="w-25"><p>Plan type: </p></td>
                            <td class="w-25"><p><strong> {{subscription.plan}} </strong></p></td>
                        </tr>
                        <tr>
                            <td class="w-25"><p>Validity: </p></td>
                            <td class="w-25"><p><strong> {{subscription.expire_on}} </strong></p></td>
                        </tr>
                        <tr>
                            <td class="w-25"><p>Total downloads: </p></td>
                            <td class="w-25"><p><strong> {{subscription.plan.download_limit}} </strong></p></td>
                        </tr>
                        <tr>
                            <td class="w-25"><p>Downloads Remaining: </p></td>
                            <td class="w-25"><p><strong> {{remaining_downloads}} </strong></p></td>
                        </tr>
                    </tbody>
                </table>
                </div>

                <form action="." method="post">
                    {% csrf_token %}
                        <div>
                            {{form.issue}}
                            &nbsp;<label class="v-align-m" for="{{form.id_issue}}" id="id_issue"> {{form.issue.label}}</label>
                        </div>
                        <div class="col text-center">
                          <button class="btn text-white btn-bg-theme border-radius-40" type="submit">Download now</button>
                        </div>
                </form>
                <p class="text-muted pt-2">*Document will be sent on you email.</p>
    <!--                <button class="btn btn-primary btn-bg-theme mt-5 border-radius-40">Download now</button>-->
            </div>
            <div class="col-md mb-2 border border-primary border-radius-20 download-info p-4 mx-auto ml-md-1 mb-sm-1">
                <h5 class="text-center">Selected Document</h5>
                <hr>
                <img class="img-fluid" src="{{ image.url }}" alt="{{ image.name }}">
                <p class="mt-2"><strong>{{ document.title }}</strong></p>
                <p>No of pages: <strong>{{document.pages.all.count}}</strong></p>
                <p>No of words: <strong>{{document.words}}</strong></p>
                <hr>
                <div class="text-center">
                    <a href="https://tawk.to/chat/5d52a62677aa790be32eb23b/default"><button class="btn text-white btn-bg-theme mt-2 border-radius-40">Chat now</button></a>
                </div>
            </div>
        </div>
    </section>
{% endcomment %}
{% endblock %}

{% block extra_js %}

<script>

  $(window).on('load', function (e) {
    $(".overlay").hide();
  });

</script>

{% endblock %}

