{% extends "desklib/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Subscribe" %}{% endblock %}

{% block content %}
    <div class="container margin-top-40 py-5">
          {% block messages %}
    {% if messages %}
        <div>
            <ul>
                {% for message in messages %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>{{message}}</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                </div>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
  {% endblock %}
        <div class="row text-center">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto bg-light-grey box-shadow-3-3-5-5 py-4 border-radius-20">
                <h4 class="py-2" id="head_banner">{% trans "You read a lot." %}</h4>
                <hr>
                <p>You have reached the end of your free membership. Subscribe us now and get more views to the documents.</p>
                <a href="{% url 'paynow' %}" class="btn btn-block text-white btn-bg-theme text-uppercase py-2 border-radius-20">Subscribe Us</a>
            </div>
        </div>
    </div>
{% endblock %}