{% extends "desklib/base.html" %}
{% block head_title %}{% trans "payment" %}{% endblock %}
{% block content %}
<div class="pg_paymentoption">
    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form action="{{form.get_endpoint}}" method="post" id="form-check">
                                    {% csrf_token %}
                                    {{form}}
                                    <input id="id_custom" name="custom" type="hidden" value=""/>
                                    <input id="id_amount" name="amount" type="hidden" value=""/>
                                    <div class="row justify-content-center pt-5">
                                        <div class="col-md-9 col-lg-5">
                                            <p>
                                                By continuing you agree to the <a href="{% url 'termsofuse' %}">terms &
                                                conditions</a>, <a href="{% url 'privacypolicy' %}"> privacy policy</a>, <a
                                                    href="{% url 'academicintegrity' %}">Academic Integrity</a>, <a
                                                    href="{% url 'honorcode' %}">Honor Code</a> and <a
                                                    href="{% url 'copyright' %}">Copyright</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center mt-4">
                                        <div class="col-lg-5 text-center">
                                            <input type="submit" value="Proceed with Paypal" class="btn btn-bg-theme border-radius-20 text-white px-sm-5 px-4" id="submitButton">
                                        </div>
                                    </div>
                                </form>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}